<div class="row">
  <div class="span12 offset0">
  <div id="new_category1" class="right"  >
    <%= form_for @category   do |f1| %>
         <b>New Category</b><br />
        <%= f1.text_field :category%>

        <%= f1.submit "Add" ,class: "btn btn-large btn-primary",:name=>"by",:value=>"add" %><br />
    <% end %>
    </div>
  <div class="left"   >
    <%= nested_form_for  (@question ) do |f1| %>


   <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
                     <div id='flash-notice' style="color: #8b161a;" ><%= flash[:notice] %> </div>

        <table>
          <tr>
            <th>Complexity</th>
            <th>Category</th>
          </tr>
          <tr>
            <td><%= f1.select("complexity_id", @complexity.collect {|s| [s.complexity, s.id ] }, { :selected => @question.complexity_id}) %></td>



        <td><%= f1.select("category_id", @categorys.collect {|s| [s.category, s.id ] }, {:selected =>@question.category_id}) %></td>
        <td><%= link_to 'new category', '#',:onclick=>"show_category()"  %> </td>

          </tr>
        </table>

        <%= f1.label :Question %>
        <%= f1.text_area  :question, :rows=>10,:class=>"quest" %>

        <%= f1.label :question_image  %>
        <%= f1.file_field :question_image %>

        <%= f1.label :Allowed_time %>
        <%= f1.text_field :allowed_time , :value=>30,   :class => "text_box" %>(in sec)



        <table>
          <tr>
            <th>Options</th>
            <th>Right option?</th>
          </tr>
        <%= f1.fields_for :options do |op| %>
              <tr>

           <td><%= op.text_field :option %></td>
           <td class="lft" ><%= op.check_box :is_right %></td>
              <td>  <%#= op.link_to_remove image_tag('delete.png')  %> </td>
              </tr>

        <% end %>

        </table>
        <p><%= f1.link_to_add image_tag('addc.png',:title =>"Add new option"  ), :options %></p>

        <%= f1.submit "Create"  ,class: "btn btn-large btn-primary"%>
    <% end %>

      <br /><%= link_to image_tag('back.png') ,questions_path %>
  </div>
  </div>
</div>


  <script type="text/javascript">
   function show_category()
   {

       document.getElementById('new_category1').toggle();
   }
 </script>
 <script type="text/javascript">
    window.onload = function()
    {
        document.getElementById('new_category1').style.display='none';
    }
 </script>