
  <div id="new_category1"   style="display: none;"   >
    <%= form_for @category   do |f1| %>
         <b>New Category</b><br />
        <%= f1.text_field :category%>

        <%= f1.submit "Add" ,class: "btn btn-large btn-primary",:name=>"by",:value=>"add" %><br />
    <% end %>
    </div>
  <div>
    <%= nested_form_for  (@question ) do |f1| %>


        <div class="error_msg">
          <%= render  "shared/error_message", :target => @question   %>
        </div>

        <table>
          <tr>
            <th>Complexity</th>
            <th>Category</th>
          </tr>
          <tr>
            <td><%= f1.select("complexity_id", @complexity.collect {|s| [s.complexity, s.id ] }, { :selected => @question.complexity_id}) %></td>



        <td><%= f1.select("category_id", @categorys.collect {|s| [s.category, s.id ] }, {:selected =>@question.category_id}) %></td>
        <td><%= link_to 'new category', '#',:remote=>true ,:onclick=>"jQuery('#new_category1').dialog({ modal: true, title: 'Adding new category',width: 260 } );" %> </td>

          </tr>
        </table>

        <%= f1.label :Question %>
        <%= f1.text_area  :question, :rows=>10,:class=>"quest" %>

        <%= f1.label :question_image  %>
        <%= f1.file_field :question_image %>

        <%= f1.label :Allowed_time %>
        <%= f1.text_field :allowed_time , :value=>params[:question] ? params[:question][:allowed_time] : 50 ,   :class => "text_box" %>(in sec)



        <table>
          <tr>
            <th>Options</th>
            <th>Right option?</th>
          </tr>
        <%= f1.fields_for :options do |op| %>
              <tr>

           <td><%= op.text_field :option %></td>
           <td class="lft" ><%= op.check_box :is_right %></td>
              <td>  <%#= op.link_to_remove image_tag('delete.png')  %> </td>
              </tr>

        <% end %>

        </table>
        <p><%= f1.link_to_add image_tag('addc.png',:title =>"Add new option"  ), :options %></p>

        <%= f1.submit "Create"  ,class: "btn btn-large btn-primary" ,:onclick=>"show_submitting(); "%>
    <% end %>

      <br /><%= link_to image_tag('back.png') ,questions_path %>
  </div>
