  <b>Question:</b>
  <%= simple_format question.question %><br /><br />
  <% if !question.question_image.to_s.include?("missing.png") %>
      <%= image_tag question.question_image.url(:original) %>
  <% end %>
  <table  border="3" width="75%"   >
    <tr>
      <th>options:</th>
      <th>true/false</th>
    </tr>

    <% question.options.each do |op| %>
        <tr>
          <td width="75%" class="lft" ><%= op.option %></td>
          <td width="10%" ><%= op.is_right %></td>
        </tr>
    <%end %>

  </table>
  <br />
  <b>Answer code:</b>
  <%=  question.answer_id %><br />

  <b>Time allowed:</b>
  <%=  question.allowed_time %><br />

  <b>Category:</b>
  <%= question.category.category %><br />

  <b>Complexity:</b>
  <%= question.complexity.complexity %><br />

  <b>Type:</b>
  <%= question.type.question_type %><br />

  <b>created by:</b>
  <%=  question.created_by %><br />

  <b>created at:</b>
  <%=  question.created_at.strftime("%b %d %A,%Y at %I:%M%p") %><br />
