<h1>Editing Question</h1>



<%= nested_form_for  (@question ) do |f| %>


   <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


        Last modified by:<%=@question.updated_by   %> <br/>  <br/>
        Last modified at:<%=@question.updated_at.strftime("%b %d %A,%Y at %I:%M%p")    %> <br/>  <br/>


        <table>
          <tr>
            <th>Complexity</th>
            <th>Category</th>
          </tr>
          <tr>
            <td><%= f.select("complexity_id", @complexity.collect {|s| [s.complexity, s.id ] }, { :selected => @question.complexity_id}) %></td>



        <td><%= f.select("category_id", @category.collect {|s| [s.category, s.id ] }, {:selected =>@question.category_id}) %></td>

          </tr>
        </table>

        <%= f.label :Question %>
        <%= f.text_area  :question, :rows=>10 ,:class=>"quest"%>

        <% if !@question.question_image.to_s.include?("missing.png") %>
        <%=image_tag @question.question_image.url(:original)   %>
        <%= link_to image_tag('delete.png') ,  delete_image_question_path(@question) ,data: {confirm: 'are you sure'} ,:title => "delete" %>
        <% end %>

        <%= f.label :question_image  %>
        <%= f.file_field :question_image %>

        <%= f.label :Allowed_time %>
        <%= f.text_field :allowed_time,   :class => "text_box" %>(in sec)



        <table width="32%" >
          <tr>
            <th>Options</th>
            <th>Right option?</th>
            <th></th>
          </tr>
          <% i=-1 %>
        <%= f.fields_for :options do |op| %>
              <tr>
             <% i+=1 %>
           <td><%= op.text_field :option %></td>
           <td class="lft" >&nbsp;&nbsp;&nbsp;<%= op.check_box :is_right %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
           <% if @question.options[i].present? %>
            <td><%= link_to image_tag('delete.png') , question_option_path(@question,@opt[i].id) ,:method =>  :delete,data: {confirm: 'are you sure'}  %></td>
           <% else %>
               <td>  <%= op.link_to_remove  image_tag('delete.png',:title=>"Remove")%> </td>
           <% end %>
              </tr>

        <% end %>

        </table>
         <%= f.link_to_add  image_tag('addc.png',:title=>"Add one more option"),:options %>
         <br/>      <br/>
        <%= f.submit "Update",class: "btn btn-large btn-primary"%>
    <% end %>
      <br /><%= link_to  image_tag('back.png')  ,questions_path %>
