<h1>Editing Question</h1>
<div class="row">
  <div class="span12 offset0">


<%= form_for  (@question ) do |f1| %>


   <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


        Last modified by:<%=@question.updated_by   %> <br/>  <br/>
        Last modified at:<%=@question.updated_at.strftime("%b %d %A,%Y at %I:%M%p")    %> <br/>  <br/>

                      <div id='flash-notice' style="color: #8b161a;" ><%= flash[:notice] %> </div>

        <table>
          <tr>
            <th>Complexity</th>
            <th>Category</th>
          </tr>
          <tr>
            <td><%= f1.select("complexity_id", @complexity.collect {|s| [s.complexity, s.id ] }, { :selected => @question.complexity_id}) %></td>



        <td><%= f1.select("category_id", @category.collect {|s| [s.category, s.id ] }, {:selected =>@question.category_id}) %></td>

          </tr>
        </table>

        <%= f1.label :Question %>
        <%= f1.text_area  :question, :rows=>5 ,:class=>"quest"%>

        <%= f1.label :Allowed_time %>
        <%= f1.text_field :allowed_time,   :class => "text_box" %>(in sec)



        <table>
          <tr>
            <th>Options</th>
            <th>is right option?</th>
            <th></th>
          </tr>
          <% i=-1 %>
        <%= f1.fields_for :options do |op| %>
              <tr>
             <% i+=1 %>
           <td><%= op.text_field :option %></td>
           <td><%= op.check_box :is_right %></td>
            <td><%= link_to image_tag('delete.png') , question_option_path(@question,@opt[i].id) ,:method =>  :delete,data: {confirm: 'are you sure'}  %></td>

              </tr>

        <% end %>

        </table>
         <%= link_to  image_tag('addc.png'), new_question_option_path(@question),:title=>"Add one more option" %>
         <br />
        <%= f1.submit "Update",class: "btn btn-large btn-primary"%>
    <% end %>
      <br /><%= link_to  image_tag('back.png')  ,questions_path %>
  </div>
</div>