

<script type="text/javascript" >
    jQuery.noConflict(true);
        function show_box(no){
            jQuery("#"+no+"").dialog({width: 650,position: {   at: " bottom" }  });
        }
    function toggle1(source) {
        var checkboxes = document.getElementsByTagName("input");

        for(var i in checkboxes)
            if(document.getElementsByTagName("input")[i].type == "checkbox")
                document.getElementsByTagName("input")[i].checked = source.checked;
    }
</script>

    <br/>
    <table width="100%" >
      <tr>
        <td class="lft" >
          <%= link_to (image_tag 'category.png'),categories_path,:title=>"Manage Categories"  %>
        </td>
        <td>

        </td>
        <td class="rght" >
          <%= link_to image_tag('add.png'), new_question_path, :class=>"dropt", :title=>"add new question"   %>
        </td>

      </tr>
    </table>
    <h1>Available Questions</h1>

    <% if !(current_user.has_role?('Add Questions Only')&&!current_user.has_role?('Manage Questions')&&!current_user.has_role?('Add Questions')) %>
    <div class="filter_options_container">




      <form class="filter_form">


            <table  cellpadding="5" class="filter_table"  >
              <tr>
                <td width="60%" ></td>
                <th>Category:</th>
                <th>Complexity:</th>
                <th>Type:</th>
                <th>Created by:</th>
                <th>From:</th>
                <th>To:</th>
                <th>Question:</th>
                <th></th>
              </tr>

              <tr>
                <td width="60%" ></td>
               <% if params[:search].nil?  %>

                <td><%= select("search","category_id", @category.collect {|s|
                [s.category, s.id ] }, { :include_blank => true}) %></td>

                <td><%= select("search","complexity_id", @complexity.collect {|s|
                [s.complexity, s.id ] }, { :include_blank => true}) %></td>

                <td><%= select("search","type_id", @types.collect {|s|
                [s.question_type, s.id ] }, { :include_blank => true}) %></td>

                <td><%= select("search","by", @users.collect {|s|
                s.created_by }, { :include_blank => true}) %></td>

                <td><%= calendar_date_select_tag  "search[from]","", :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>
                <td><%= calendar_date_select_tag  "search[to]","", :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>



               <% else  %>

                  <td><%= select("search","category_id", @category.collect {|s|
                    [s.category, s.id ] }, { :include_blank => true ,:selected =>params[:search][:category_id]}) %><br />
                  </td>
                  <td><%= select("search","complexity_id", @complexity.collect {|s|
                    [s.complexity, s.id ] }, { :include_blank => true,:selected =>params[:search][:complexity_id]}) %><br />
                  </td>
                  <td><%= select("search","type_id", @types.collect {|s|
                    [s.question_type, s.id ] }, { :include_blank => true,:selected =>params[:search][:type_id]}) %><br />
                  </td>
                  <td><%= select("search","by", @users.collect {|s|
                    s.created_by }, { :include_blank => true,:selected =>params[:search][:by]}) %><br />
                  </td>

                    <td><%= calendar_date_select_tag "search[from]",params[:search]["from"], :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>
                    <td><%= calendar_date_select_tag  "search[to]",params[:search]["to"], :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>

              <% end  %>


                <% if !params[:search].nil?  %>
                    <td align="right" ><%= text_field_tag "srch" , params[:srch],:class=>"text_box2"  %></td>
                <% else  %>
                    <td align="right" ><%= text_field_tag "srch","",:class=>"text_box2"   %></td>
                <% end  %>

                <td class="dropt" title="search" ><%=image_submit_tag 'filter.png' , :class => 'search' %></td>


                </tr>
           </table>

            </form>
       </div>

      <% end %>




    <%= form_tag("/questions/delete_all", :method => "post") do  %>




    <table border="3" width="100%"  class="index_table" >
      <tr>
        <th width="3%"><input type="checkbox" onClick="toggle1(this)" title="Select/Unselect all to delete" /></th>
        <th width="45%">question</th>
        <th  width="7%">allowed time (sec)</th>
        <th width="15%">Created by:</th>
        <th width="15%">Category:</th>
        <th width="5%"></th>
        <th width="5%"></th>
        <th width="5%"></th>
       </tr>

      <% @questions.each_with_index do |question,i| %>
          <tr>
            <%=fields_for :to_delete do|del|  %>
            <td><%= del.check_box  question.id %></td>
             <% end %>
            <td class="lft" ><%= question.question.slice(0..75)%>
            <%= "......" if question.question.length>75 %>
            </td>
            <td><%= question.allowed_time %></td>
            <td><%= question.created_by %></td>
            <td><%= question.category.category %></td>
            <td class="dropt" title="detail"  ><%= link_to  image_tag('show.png'), '#',:onclick=>"show_box(#{question.id});",:remote=>true  %>
              <div style="display: none;"  id= <%=question.id%>  >
                <b>Question:</b>
                <%=  question.question %><br /><br />
                <% if !question.question_image.to_s.include?("missing.png") %>
                    <%= image_tag question.question_image.url(:original) %>
                <% end %>
                <table  border="3" width="75%"   >
                  <tr>
                    <th>options:</th>
                    <th>true/false</th>
                  </tr>

                  <% question.options.each do |op| %>
                      <tr>
                        <td width="75%" class="lft" ><%= op.option %></td>
                        <td width="10%" ><%= op.is_right %></td>
                      </tr>
                  <%end %>

                </table>
                <br />
                <b>Answer code:</b>
                <%=  question.answer_id %><br />

                <b>Time allowed:</b>
                <%=  question.allowed_time %><br />

                <b>Category:</b>
                <%= question.category.category %><br />

                <b>Complexity:</b>
                <%= question.complexity.complexity %><br />

                <b>Type:</b>
                <%= question.type.question_type %><br />

                <b>created by:</b>
                <%=  question.created_by %><br />

                <b>created at:</b>
                <%=  question.created_at.strftime("%b %d %A,%Y at %I:%M%p") %><br />


              </div>
            </td>
            <td  title="edit"  ><%= link_to  image_tag('edit.png'), edit_question_path(question) %></td>
            <td  title="delete"  ><%= link_to  image_tag('delete.png'),question , method: :delete, data: { confirm: 'Are you sure?' }  %></td>
          </tr>



      <% end %>
    </table>

        <br /> <%= button_to "Delete selected",delete_all_questions_path(:id=>33), data: { confirm: 'Are you sure?' } %>
    <% end %>
    <% if !(current_user.has_role?('Add Questions Only')&&!current_user.has_role?('Manage Questions')&&!current_user.has_role?('Add Questions')) %>
     <h4><%= will_paginate @questions ,:container=>false %></h4>
    <% end %>







