<script type="text/javascript" >
    jQuery(document).ready(function() {
        jQuery(".check_boxes").change(function() {
            var checkboxes = jQuery(".check_boxes");
            var flag = 0;
            for(var i in checkboxes)
                if(checkboxes[i].checked == true)
                    flag = 1;
            if(flag==1){
                jQuery("#delete_all").show("slow");
            }
            else{
                jQuery("#delete_all").hide("slow");
                jQuery("#edit_all").hide("slow");
            }
        });
    });
    function show_edit(){
        jQuery("#edit_all").toggle("slow");
    }
    function toggle1(source) {
        var checkboxes = document.getElementsByTagName("input");

        for(var i in checkboxes)
            if(document.getElementsByTagName("input")[i].type == "checkbox")
                document.getElementsByTagName("input")[i].checked = source.checked;
    }
</script>
<br/>
<table width="100%" >
  <tr>
    <td class="lft" >
      <%= link_to (image_tag 'category.png'),categories_path,:title=>"Manage Categories"  %>
    </td>
    <td>
    </td>
    <td class="rght" >
      <%= link_to image_tag('add.png'), new_question_path, :class=>"dropt", :title=>"add new question"   %>
    </td>
  </tr>
</table>
<h1>Available Questions</h1>
<% if !(my_roles.include?('Add Questions Only')&&!my_roles.include?('Manage Questions')&&!my_roles.include?('Add Questions')) %>
    <div class="filter_options_container">
      <form class="filter_form">
        <table  cellpadding="5" class="filter_table"  >
          <tr>
            <td width="60%" ></td>
            <th>Category:</th>
            <th>Complexity:</th>
            <th>Type:</th>
            <th>Created by:</th>
            <th>From:</th>
            <th>To:</th>
            <th>Question:</th>
            <th></th>
          </tr>
          <tr>
            <td width="60%" ></td>
            <td><%= select("search","category_id", @category.collect {|s| [s.category, s.id ] }, { :include_blank => true ,:selected =>params[:search]?params[:search][:category_id]:""},onchange: "this.form.submit();") %></td>
            <td><%= select("search","complexity_id", @complexity.collect {|s| [s.complexity, s.id ] }, { :include_blank => true,:selected =>params[:search]?params[:search][:complexity_id]:""},onchange: "this.form.submit();") %></td>
            <td><%= select("search","type_id", @types.collect {|s| [s.question_type, s.id ] }, { :include_blank => true,:selected =>params[:search]?params[:search][:type_id]:""},onchange: "this.form.submit();") %></td>
            <td><%= select("search","by", @users.collect {|s| s.created_by }, { :include_blank => true,:selected =>params[:search]?params[:search][:by]:""},onchange: "this.form.submit();") %></td>
            <td><%= text_field_tag  "search[from]",params[:search]?params[:search]["from"]:""  , :class=>"text_box2" %></td>
            <td><%= text_field_tag  "search[to]",params[:search]?params[:search]["to"]:"" , :class=>"text_box2" %></td>
            <td align="right" ><%= text_field_tag "search[text]" , params[:search]?params[:search]["text"]:"",:class=>"text_box2"  %></td>
            <td class="dropt" title="search" ><%=image_submit_tag 'filter.png' , :class => 'search' %></td>
          </tr>
        </table>
      </form>
    </div>
<% end %>
<%= pagination_links(@questions) %>
  <div style="text-align: left;">
    Per Page:
    <%= link_to "30", questions_path(per_page: 30), class: "btn btn-xs" %>
    <%= link_to "40", questions_path(per_page: 40), class: "btn btn-xs" %>
    <%= link_to "50", questions_path(per_page: 50), class: "btn btn-xs" %>
  </div>
<% if @questions.empty? %>
    <h2>No results..</h2>
<% else %>
    <%= form_tag("/questions/multiple", :method => "post") do  %>
        <table  class="index_table" >
          <tr>
            <th width="3%"><input type="checkbox" onClick="toggle1(this)" title="Select/Unselect all to delete" class="check_boxes" /></th>
            <th width="50%">question</th>
            <th  width="7%">allowed time (sec)</th>
            <th width="15%">Created by:</th>
            <th width="15%">Category:</th>
            <th width="5%"></th>
            <th width="5%"></th>
          </tr>
          <% @questions.each_with_index do |question,i| %>
              <tr>
                <td><%= check_box_tag "question[ids][]",  question.id,false, class: "check_boxes" %></td>
                <td class="lft" >
                  <%=link_to question.question.truncate(75), '#',:onclick=>"show_box(#{question.id});",:remote=>true, :title=>"detail" %>
                  <%=link_to   image_tag('detailq.png'), question %>
                  <div style="display: none;"  id= <%=question.id%>  >
                    <%=  render 'question',question: question %>
                  </div>
                </td>
                <td><%= question.allowed_time %></td>
                <td><%= question.created_by %></td>
                <td><%= question.category.category %></td>
                <td  title="edit"  ><%= link_to  image_tag('edit.png'), edit_question_path(question) %></td>
                <td >
                  <% if question.exams.empty?  %>
                      <%= link_to  image_tag('delete.png'),question , method: :delete, data: { confirm: 'Are you sure?' } ,:title=>"delete"  %>
                  <% else %>
                      <%=   image_tag 'delete_x.png' ,:title=>"Can't delete.This question is part of some question paper!" %>
                  <% end %>
                </td>
              </tr>
          <% end %>
        </table>
        <br />
        <div id="delete_all" style="display: none;">
          <%= submit_tag "Print selected", class: "btn btn-success" -%>
          <%= submit_tag "Delete selected", class: "btn btn-danger" , data: { confirm: 'Are you sure?' } -%>
          <%= link_to_function "Change allowed time of selected questions", 'show_edit();' , class: "btn" , id: "editt"  -%>
        </div>

        <div id="edit_all" style="display: none;">
          <br />
          Allowed Time:<%= text_field_tag "new_allowed_time","", :maxlength=>3 ,  :class => "text_box"   %>
          <%= submit_tag "Update all",  class: "btn btn-warning", data: { confirm: 'Are you sure?' }  %>
        </div>
    <% end %>
    <%= pagination_links(@questions) %>
<% end %>
