<div class="row" xmlns="http://www.w3.org/1999/html">
  <div class="span12 offset0">

    <br /><h3 align="right"><%= link_to image_tag('add.png'), new_question_path, :class=>"dropt", :title=>"add new question"   %></h3>

    <h1>Available Questions</h1>
    <div class="filter_options_container">




      <form class="filter_form">


            <table  cellpadding="5" align="right"  >
              <tr>
                <th>Category:</th>
                <th>Complexity:</th>
                <th>Type:</th>
                <th>Created by:</th>
                <th>From:</th>
                <th>To:</th>
                <th>Question:</th>
                <th></th>
              </tr>

              <tr>
               <% if params[:search].nil?  %>

                <td><%= select("search","category_id", @category.collect {|s|
                [s.category, s.id ] }, { :include_blank => true}) %></td>

                <td><%= select("search","complexity_id", @complexity.collect {|s|
                [s.complexity, s.id ] }, { :include_blank => true}) %></td>

                <td><%= select("search","type_id", @types.collect {|s|
                [s.question_type, s.id ] }, { :include_blank => true}) %></td>

                <td><%= select("search","by", @users.collect {|s|
                s.user_email }, { :include_blank => true}) %></td>

                <td><%= calendar_date_select_tag  "search[from]","", :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>
                <td><%= calendar_date_select_tag  "search[to]","", :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>



               <% else  %>

                  <td><%= select("search","category_id", @category.collect {|s|
                    [s.category, s.id ] }, { :include_blank => true ,:selected =>params[:search][:category_id]}) %><br />
                  </td>
                  <td><%= select("search","complexity_id", @complexity.collect {|s|
                    [s.complexity, s.id ] }, { :include_blank => true,:selected =>params[:search][:complexity_id]}) %><br />
                  </td>
                  <td><%= select("search","type_id", @types.collect {|s|
                    [s.question_type, s.id ] }, { :include_blank => true,:selected =>params[:search][:type_id]}) %><br />
                  </td>
                  <td><%= select("search","by", @users.collect {|s|
                    s.user_email }, { :include_blank => true,:selected =>params[:search][:by]}) %><br />
                  </td>

                    <td><%= calendar_date_select_tag "search[from]",params[:search]["from"], :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>
                    <td><%= calendar_date_select_tag  "search[to]",params[:search]["to"], :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>

              <% end  %>


                <% if !params[:search].nil?  %>
                    <td align="right" ><%= text_field_tag "srch" , params[:srch],:class=>"text_box2"  %></td>
                <% else  %>
                    <td align="right" ><%= text_field_tag "srch","",:class=>"text_box2"   %></td>
                <% end  %>

                <td class="dropt" title="search" ><%=image_submit_tag 'filter.png' , :class => 'search' %></td>


                </tr>
           </table>

            </form>
       </div>
     <br/><br/><br/><br/><br/>
    <div id='flash-notice' style="color: #0a7113;" ><%= flash[:notice] %> </div>

    <br /> <%= button_to "Delete selected",delete_all_questions_path(:id=>33) %>


    <%= form_tag("/questions/delete_all", :method => "post") do  %>




    <table border="3" width="100%"  >
      <tr>
        <th width="2%"><input type="checkbox" onClick="toggle1(this)" /></th>
        <th width="60%">question</th>
        <th  width="6%">allowed time (in sec)</th>
        <th width="12%">Created by:</th>
        <th width="8%">Category:</th>
        <th width="4%"></th>
        <th width="4%"></th>
       </tr>

      <% @questions.each_with_index do |question,i| %>
          <tr>
            <%=fields_for :to_delete do|del|  %>
            <td><%= del.check_box  question.id %></td>
             <% end %>
            <td class="lft" ><%= question.question %></td>
            <td><%= question.allowed_time %></td>
            <td><%= question.created_by %></td>
            <td><%= question.category.category %></td>
            <td class="dropt" title="detail"  ><%= link_to  image_tag('show.png'), '#',:onclick=>"window.open('/questions/#{question.id}','fullscreen=1',true)" %></td>
            <td class="dropt" title="edit"  ><%= link_to  image_tag('edit.png'), edit_question_path(question) %></td>
           </tr>
      <% end %>
    </table>

    <% end %>
     <h4><%= will_paginate @questions ,:container=>false %></h4>
       <%= link_to (image_tag 'category.png'),categories_path ,:title=>"Manage Categories" %>
  </div>
</div>




<script type="text/javascript" >
    function toggle1(source) {
        var checkboxes = document.getElementsByTagName("input");

        for(var i in checkboxes)
         if(document.getElementsByTagName("input")[i].type == "checkbox")
            document.getElementsByTagName("input")[i].checked = source.checked;
    }
</script>