    <div class="row">
      <div class="span12 offset0"><h1>Question detail</h1>
     <b>Question:</b>
     <%=  @question.question %><br /><br />

        <table  border="3" width="50%"   >
          <tr>
            <th>options:</th>
            <th>true/false</th>
            <th>...</th>
            <th>...</th>
          </tr>

        <% @options.each do |op| %>
              <tr>
            <td width="75%" class="lft" ><%= op.option %></td>
            <td width="10%" ><%= op.is_right %></td>
            <td><%=link_to image_tag('edit.png'),edit_question_option_path(@question,op)  %></td>
            <td><%= link_to image_tag('delete.png') , [@question,op],:method =>  :delete,data: {confirm: 'are you sure'}  %></td>
              </tr>
        <%end %>

        </table>
        <%= link_to  image_tag('addc.png'), new_question_option_path(@question) %>
        <br />
        <b>Answer code:</b>
     <%=  @question.answer_id %><br />

     <b>Time allowed:</b>
     <%=  @question.allowed_time %><br />

     <b>Category:</b>
     <%= @question.category.category %><br />

     <b>Complexity:</b>
     <%= @question.complexity.complexity %><br />

     <b>Type:</b>
     <%= @question.type.question_type %><br />

     <b>created by:</b>
     <%=  @question.created_by %><br />

     <b>created at:</b>
     <%=  @question.created_at.strftime("%b %d %A,%Y at %I:%M%p") %><br />



     <%= link_to image_tag('back.png'), questions_path %>

      </div>
    </div>


