<div class="row">
  <div class="span6 offset3">



    <h1>Forgot password:</h1>

    <p id="notice" style="color: #ff0000; " ><%= notice %></p>
    <%= form_for(:session, url: '/sessions/sent_pass') do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %><br/>

        <%= f.submit "Send password", class: "btn btn-large btn-primary"%>

    <% end %>

  </div>
</div>