    <div align="right">
       <%= link_to 'Sign up Employee',signup_sessions_path(:as=>"emp"), class: "btn btn-success" %>
       <%= link_to 'Sign up Candidate',signup_sessions_path(:as=>"can"), class: "btn btn-success" %> <br/>
    </div>

    <h1>Login:</h1>


    <%= form_for(:session, url: sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email ,:value=>(params[:session]? params[:session][:email] : "") ,required:{}%>
        <%= f.label :password %>
        <%= f.password_field :password ,required:{}%><br />

        <label><%= f.check_box :remember%>Remember_me</label><br /> <br />


        <%= f.submit "Sign in", class: "btn btn-large btn-primary"%>

    <% end %>
    <%= link_to 'Forgot password?',forgotpass_sessions_path, class: "btn btn-small btn-warning" %> <br/>
