<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>
<table style="width: 100%; border: 2px;" border="2px">
  <tr>
    <th width="20%">Candidate</th>
    <th width="15%">Exam</th>
    <th width="7%" >Total questions</th>
    <th width="7%" >Attended</th>
    <th width="6%">Right answers</th>
    <th width="10%">Mark(%)</th>
    <th width="10%">Mark(%) if -ve</th>
    <th width="10%">Mathematical right answers</th>
    <th width="10%">Logical right answers</th>
    <th width="10%">OOPs right answers</th>
    <th width="10%">AQ attended</th>
    <th width="10%">AQ right answers</th>
  </tr>

  <% @results.each do |result| %>
      <tr>
        <td class="lft" ><%= "#{result.candidate.name}(#{result.candidate.user.user_email})" %></td>
        <td class="lft" ><%= result.candidate.schedule.exam.name %></td>
        <td>
          <%= result.candidate.schedule.exam.questions.size%>
          <% extra = result.candidate.answers.size - result.candidate.schedule.exam.questions.size %>
          <%= " +" if extra > 0 %>
        </td>
        <td><%= result.no_of_question_attended%></td>
        <td  ><%= result.right_answers%></td>
        <td ><%= number_with_precision(result.mark_percentage, :precision => 2)%></td>
        <td ><%= number_with_precision(result.find_mark_percentage_if_negative, :precision => 2)%></td>
        <td  ><%= "#{result.each_right_answers(Category.find_by_category("Mathematics"))}/11" %></td>
        <td  ><%= "#{result.each_right_answers(Category.find_by_category("Logical Reasoning"))
                    +result.each_right_answers(Category.find_by_category("Logical Reasoning - swimmers (group question)"))
                    +result.each_right_answers(Category.find_by_category("Logical Reasoning - marriage (group question)"))
                    +result.each_right_answers(Category.find_by_category("Logical Reasoning - houses (group question)"))
        }/10" %></td>
        <td  ><%= "#{result.each_right_answers(Category.find_by_category("Object Oriented Programming Concepts"))}/10" %></td>

        <%  @candidate = result.candidate
            questions = @candidate.schedule.exam.question_ids
            @extra_answers = @candidate.answers.where("question_id not in (?) and answer != ? ",questions,"0")   %>
        <% if @extra_answers.present? %>
            <%
               attend = @extra_answers.size
               right = @extra_answers.select{|ans| ans.question && ans.answer == ans.question.answer_id }.size
            %>
        <% else %>
            <%
               attend = "-"
               right = "-"
            %>
         <% end %>
        <td ><%= attend %></td>
        <td ><%= right %></td>
      </tr>
  <% end %>
</table>
</p>
</body>
</html>
