<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h2> Mark Details </h2>
<h3> <%= "Candidate: #{@results.first.candidate.name}(#{@results.first.candidate.user.user_email})" if @results.size == 1 %></h3>

<p>
<table style="font-family: verdana,arial,sans-serif;font-size: 11px;color: #333333;border-width: 1px;border-color: #999999;border-collapse: collapse;">
  <tr>
    <th width="20%" style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Candidate</th>
    <th width="15%" style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Exam</th>
    <th width="7%"  style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Total questions</th>
    <th width="7%"  style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Attended</th>
    <th width="6%" style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Right answers</th>
    <th width="10%" style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Mark(%)</th>
  </tr>

  <% @results.each do |result| %>
      <tr>
        <td class="lft"  style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= result.candidate.name %></td>
        <td class="lft"  style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= result.candidate.schedule.exam.name %></td>
        <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">
          <%= result.candidate.schedule.exam.questions.size%>
          <% extra = result.candidate.answers.size - result.candidate.schedule.exam.questions.size %>
          <%= " +" if extra > 0 %>
        </td>
        <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= result.no_of_question_attended%></td>
        <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"  ><%= result.right_answers%></td>
        <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;" ><%= number_with_precision(result.mark_percentage, :precision => 2)%></td>
      </tr>
  <% end %>
</table>
</p>

<h3>Category wise cut off:</h3>
<p>
  <% @results.each do |result| %>
    <h3> <%= "Candidate: #{result.candidate.name}" if @results.size > 1 %></h3>
    <p>
    <table style="font-family: verdana,arial,sans-serif;font-size: 11px;color: #333333;border-width: 1px;border-color: #999999;border-collapse: collapse;">
      <tr>
        <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Category</th>
        <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">no of questions</th>
        <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Right answers</th>
        <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Wrong answers</th>
        <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Mark</th>
        <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Mark(%)</th>
        <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Confused Questions</th>
      </tr>
      <% Category.all.each do |cat| %>
          <% if result.candidate.schedule.exam.questions.where("category_id=?",cat.id).count!=0 %>

              <tr>
                <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%=cat.category    %></td>
                <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= result.candidate.schedule.exam.questions.where("category_id=?",cat.id).count %></td>
                <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= result.each_right_answers(cat) %></td>
                <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= result.each_wrong_answers(cat) %></td>
                <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= result.calc_mark(cat)  %></td>
                <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= number_with_precision(result.calc_mark_percentage(cat),:precision=>2)  %></td>
                <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= result.each_confusion(cat) %></td>
              </tr>
          <% end %>
      <% end %>
    </table>
    </p>
    <p>
      <%  @candidate = result.candidate
          questions = @candidate.schedule.exam.question_ids
          @extra_answers = @candidate.answers.where("question_id not in (?) and answer != ?",questions,"0")   %>
      <% if @extra_answers.present? %>
          <br/>
          <h3>Additional answers:</h3>
          <%
             attend = @extra_answers.size
             right = @extra_answers.select{|ans| ans.question && ans.answer == ans.question.answer_id }.size
             wrong = attend - right
             confusion = result.each_confusion(@extra_answers.first.question.category) 
          %>
          <table style="font-family: verdana,arial,sans-serif;font-size: 11px;color: #333333;border-width: 1px;border-color: #999999;border-collapse: collapse;">
            <tr>
              <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Total questions</th>
              <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Questions attended</th>
              <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Right answers</th>
              <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Wrong answers</th>
              <th style="background: #b5cfd2 url(<%= asset_path("cell-blue.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;">Confused Questions</th>
            </tr>
            <tr>
              <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= @additional %></td>
              <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= attend %></td>
              <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= right %></td>
              <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= wrong %></td>
              <td style="background: #dcddc0 url(<%= asset_path("cell-grey.jpg") %>);border-width: 1px;padding: 8px;border-style: solid;border-color: #999999;"><%= confusion %></td>
            </tr>
          </table>
      <% end %>

      </p>
  <br>
  <%= link_to "See detailed result", recruitment_test_url(result) %>
<% end %>
</p>
</body>
</html>
