<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>


    <p>
      The following is the test:<br />
       <%= @user.schedule.exam.name    %>  </p>   <br />
      <p> result for the candidate: <%= @user.name    %> , mobile <%= @user.phone1   %>  <br /></p>
   <p> Test Score: in % <%= @user.recruitment_test.mark_percentage     %> <br /></p>
   <p> Click here <%= @url %>   to view/validate results  <br /></p>
   <p> Thanks,  <br />
    Suyati HR Team.<br />
    </p>

  </body>
</html>
