<h1>Instructions</h1>

<table class="index_table" >
  <tr>
    <th>Instruction</th>
    <th></th><th></th>
   </tr>

<% @instructions.each do |instruction| %>
  <tr >
    <td class="lft"  ><%= instruction.instruction %></td>
    <td width="5%" ><%= link_to image_tag('edit.png'), edit_instruction_path(instruction) , :class=>"dropt", :title=>"edit" %></td>
    <% if instruction.exams.empty?  %>
    <td width="5%" ><%= link_to  image_tag('delete.png'), instruction, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"dropt", :title=>"delete"  %></td>
    <% else %>
    <td width="5%" ><%=image_tag('delete_x.png', :title=>"first delete this instruction from exams.")  %></td>
    <% end %>
  </tr>
<% end %>
</table>
<h4><%= will_paginate @instructions ,:container=>false %></h4>
              <%= render 'form' %>

        <%= link_to image_tag('back.png') , exams_path  %>
