<div class="row">
  <div class="span10 offset0">



        <%= form_for ([ @candidate , @qualification ]) do |f| %>


           <% if @qualification.errors.any? %>
            <div id="error_explanation">
             <h2><%= pluralize(@qualification.errors.count, "error") %> prohibited this candidate from being saved:</h2>

             <ul>
             <% @qualification.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
             </ul>
              </div>
          <% end %>

        <%= f.label :qualification_in %>
        <%= f.text_field :qualification_in %>

        <%= f.label :qualification_from %>
        <%= f.text_field :qualification_from %>

        <%= f.label :from_date %>
        <%= f.calendar_date_select "from_date", :valid_date_check => "date <  (new Date()).stripTime()"  , :popup => :force %>


        <%= f.label :to_date %>
        <%= f.calendar_date_select "to_date", :valid_date_check => "date < (new Date()).stripTime()"   , :popup => :force %>


        <%= f.label :mark_percentage %>
        <%= f.text_field :mark_percentage %>

        <%= f.label :comments %>
        <%= f.text_field :comments %><br />

        <%= f.submit "Add", class: "btn btn-large btn-primary" %>

    <% end %>
        <%= link_to image_tag('back.png'),edit_candidate_path(@candidate)  %>
  </div>
</div>