<script type="text/javascript" >
    function toggle1(source) {

        var checkboxes = document.getElementsByName("user[role_ids][]");
        for(var i in checkboxes)
            checkboxes[i].checked = source.checked;
    }
</script>






<%= form_for  (@user) do |f| %>


   <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


                     <div id='flash-notice' style="color: #8b161a;" ><%= flash[:notice] %> </div>



    <div class="row">
      <div class="span10 offset0">

        <%= f.label :Email %>
        <%= f.text_field :user_email,:value=>""%>

        <%= f.label :password %>
        <%= f.password_field :login_password,:value=>"" %>

        <%= f.label :confirm_Password %>
        <%= f.password_field :login_password_confirmation %>
        <br />


        <b>Roles:</b>
        <br />
        <input type="checkbox" onClick="toggle1(this)" /> Select/Un Select All

        <% Role.where("role_name!=?","Candidate").each do |role| %>
            <br />
            <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)%>
            <%= role.role_name %>
        <% end %>


        <br />

           <%= f.submit "Register",:id=>"commit", class: "btn btn-large btn-primary" %>

               <br /><%= link_to image_tag('back.png') ,users_path %>
      </div>
    </div>

<% end %>


























