<script type="text/javascript" >
    function toggle1(source) {

        var checkboxes = document.getElementsByName("user[role_ids][]");
        for(var i in checkboxes)
            checkboxes[i].checked = source.checked;
    }
</script>






<%= form_for @user, :html => { :onsubmit=>"show_submitting();" } do |f| %>


    <div class="error_msg">
      <%= render  "shared/error_message", :target => @user  %>
    </div>



        <%= f.label :Email %>
        <%= f.text_field :user_email,:autocomplete=>"off",:placeholder => "Eg:abc@gmail.com"  ,required:{}%>

    <% if @user.new_record? %>
        <%= f.label :password %>
        <%= f.password_field :login_password,:placeholder => "****",:autocomplete=>"off" ,required:{}, :value=>(params[:user] ? params[:user][:login_password] : "") %>

        <%= f.label :confirm_Password %>
        <%= f.password_field :login_password_confirmation,:autocomplete=>"off",:placeholder => "****", :value=>(params[:user] ? params[:user][:login_password_confirmation] : "") ,required:{} %>

    <% end %>
         <br />
        <b>Roles:</b>
        <br />
        <input type="checkbox" onClick="toggle1(this)" /> Select/Un Select All

        <% Role.where("role_name!=?","Candidate").each do |role| %>
            <br />
            <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)%>
            <%= role.role_name %>
        <% end %>


        <br />  <br />

           <%= f.submit (@user.new_record? ? "Register" :"Update"),:id=>"commit", class: "btn btn-large btn-primary" ,:disable_with=>"Submitting..." %>

              <br />  <br /><%= link_to image_tag('back.png') ,users_path %>

<% end %>


























