<%= form_for  (@user) ,:url => updatepass_user_url(@user)  do |f| %>



   <% if @user.errors.any? %>
        <div id="error_explanation" xmlns="http://www.w3.org/1999/html">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="span10 offset0">
        <br /><br /><br />

        <div id='flash-notice'><%= flash[:notice] %> </div>

        <%= f.label :old_password%>
        <%= password_field_tag  :old_password %>

        <%= f.label :new_password %>
        <%= f.password_field :login_password %>

        <%= f.label :confirm_new_password %>
        <%= f.password_field :login_password_confirmation %>
        <br />


        <br />
          <%= f.submit 'Change',class: "btn btn-large btn-primary" %>
            <br /><%= link_to image_tag('back.png'), profile_user_path(@user)%>
      </div>
    </div>
   <% end %>