<h1>Editing user</h1>
<%= form_for  (@user) do |f| %>


    <div class="error_msg">
      <%= render  "shared/error_message", :target => @user %>
    </div>




        <%= f.label :Email %>
        <%= f.text_field :user_email,:size => 22 %>
        <br />

        <b>Roles</b>
        <br />
        <input type="checkbox" onClick="toggle1(this)" /> Select/Unselect All
        <% Role.where("role_name!=?","Candidate").each do |role| %>
            <br />
            <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role) %>
            <%= role.role_name %>
        <% end %>



        <br />  <br />


           <%= f.submit "Update", class: "btn btn-large btn-primary" %>
               <br /><%= link_to image_tag('back.png') ,users_path %>

   <% end %>







<script type="text/javascript" >
    function toggle1(source) {

        var checkboxes = document.getElementsByName("user[role_ids][]");
        for(var i in checkboxes)
            checkboxes[i].checked = source.checked;
    }
</script>

