<h3 align="right"  ><%= link_to image_tag('adduser.png'), new_user_path, :class=>"dropt", :title=>"add new user" %></h3>
<h1>Users</h1>
<!--
<form class="filter_form">
<table  cellpadding="5" class='filter_table' >
<tr>
<td width="60%" ></td>
<th>Role:</th>
<td><%#= select("filter","role", Role.all.collect {|s| [s.role_name, s.id ] }, { :include_blank => true,:selected =>params[:filter] ? params[:filter][:role]:""},onchange: "this.form.submit();") %></td>
<th>Type:</th>
<td><%#= select("filter","type", [["Active",1],["Inactive",0]], { :include_blank => true,:selected =>params[:filter] ? params[:filter][:type]:""},onchange: "this.form.submit();") %></td>
<th>Email:</th>
<td><%#= text_field_tag "search" , params[:search] ? params[:search] : ""%></td>
<td class="dropt" title="search"><%#=image_submit_tag 'filter.png' , :class => 'search' %></td>
</tr>
</table>
</form>
-->

<%= search_form_for @search do |f| %>
    <table  cellpadding="5" class='filter_table' >
      <tr>
        <th width="60%"></th>
        <th>Field name</th>
        <th>Condition</th>
        <th>Value</th>
      </tr>
      <%= f.condition_fields do |c| %>
          <tr>
            <td width="60%"></td>
            <%= c.attribute_fields do |a| %>
                <td>
                  <%= a.attribute_select associations: [:roles] %>
                </td>
            <% end %>
            <td>
              <%= c.predicate_select %>
            </td>
            <%= c.value_fields do |v| %>
                <td>
                  <%= v.text_field :value %>
                </td>
            <% end %>
          </tr>
      <% end %>
      <tr>
        <td width="90%"></td>
        <td></td>
        <td></td>
        <td class="rght">
          <div class="actions"><%= f.submit "Search" %></div>
        </td>
      </tr>
    </table>
<% end %>
<% if @users.empty? %>
    <h2>No results..</h2>
<% else %>
    <table  class="index_table"   >
      <tr>
        <th><%= sort_link @search, :isAlive, "Status" %></th>
        <th><%= sort_link @search, :user_email, "Email" %></th>
        <th>Roles</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <% @users.each do |user| %>
          <tr>
            <td width="5%"><%=user.isAlive? ? (image_tag 'active.png',  :title=>"Active user") :( image_tag 'inactive.png', :title=>"Inactive user")%></td>
            <td width="20%" class="lft"  ><%= user.user_email %></td>
            <td width="60%" class="lft"  >
              <% if user.roles.size==16 %>
                  Admin
              <% else %>
                  <%= user.roles.pluck(:role_name).join(",") %>
              <% end %>
            </td>
            <% if my_roles.include?('Manage Login')  %>
                <td class="dropt" title="Make Active/Inactive" ><%= link_to   image_tag('kill.png'),delete_user_path(user),method: :put%></td>
            <% else %>
                <td class="dropt" title="Make Active/Inactive(inactive)" ><%= image_tag('kill.png')%></td>
            <% end %>
            <td class="dropt" title="edit" >
              <%= link_to image_tag('edit.png'),(user.candidate ? edit_candidate_path(user.candidate) : edit_user_path(user)) %>
            </td>
            <td class="dropt" title="delete" ><%= link_to  image_tag('delete.png'), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </table>
    <%= pagination_links(@users) %>
<% end %>
