    <div class="row">
      <div class="span12 offset0">
        <h3 align="right"  ><%= link_to image_tag('adduser.png'), new_user_path, :class=>"dropt", :title=>"add new user" %></h3>
        <h1>Users</h1>
<table border="3" width="85%" align="center"  >
  <tr>
    <th>User Email</th>
    <th>User Roles</th>
    <th>isAlive?</th>
    <th></th>
    <th></th>
    <th></th>
   </tr>

<% @users.each do |user| %>
  <tr>
    <td width="50%" class="lft"  ><%= user.user_email %></td>
    <td width="25%" >
      <% user.roles.each do |role| %>
          <%="|"+ role.role_name+"|" %>
      <% end %>
    </td>
    <% if user.isAlive?  %>
    <td width="15%"><%= image_tag 'green.png', :class=>"dropt", :title=>"yes"%></td>
    <% else %>
    <td width="15%"><%= image_tag 'red.png', :class=>"dropt", :title=>"no" %></td>
    <% end %>
    <td class="dropt" title="edit" ><%= link_to image_tag('edit.png'), edit_user_path(user) %></td>
    <td class="dropt" title="kill" ><%= link_to   image_tag('kill.png'),delete_user_path(user),method: :put, data: { confirm: 'Are you sure?' } %></td>
    <td class="dropt" title="delete" ><%= link_to  image_tag('delete.png',:alt => "Delete Entry"), user, method: :delete, data: { confirm: 'Are you sure?' } %></td>

  </tr>
<% end %>
</table>
<h4><%= will_paginate @users ,:container=>false %></h4>

     </div>
    </div>
