<div class="row">
  <div class="span10 offset0">
    <h1>Profile</h1>
    <b>
    User Email:</b>
    <%= @user.user_email %> <br />
     <b>Roles:</b>

     <% @user.roles.each do |role| %>
        <%= role.role_name+"," %>

    <% end %>
      <br />
     <b>Profile created at:</b>
    <%= @user.created_at.strftime("%b %d %A,%Y at %I:%M%p") %> <br />
    <b> Profile updated at:</b>
    <%= @user.updated_at.strftime("%b %d %A,%Y at %I:%M%p") %> <br /><br />


    <%= link_to 'change password?',chgpass_user_path(@user) %>

  </div>
 </div>


 <script language=javascript>
document.onkeydown = function(e){
if(e.keyCode == 116)
        {
            return false;
        }

}

</script>


 <script language=javascript>

document.onkeydown = function(e){
    a=  window.open('/homes/index',"_top" ,'fullscreen=yes',false);
    a.blur();
    b=window.open('/homes/index' ,'channelmode=yes,fullscreen=yes,menubar=no,resizable=no,titlebar=no,toolbar=no',true);
    b.focus();
    // b.close();

}

</script>







