<div class="row">
  <div class="span10 offset0">
    <h1>Profile</h1>
    <div id='flash-notice' style="color: #228b22;"  ><%= flash[:notice] %> </div><br />
    <b>

    User Email:</b>
    <%= @user.user_email %> <br />
     <b>Roles:</b>

     <% @user.roles.each do |role| %>
        <%= role.role_name+"," %>

    <% end %>
      <br />
     <b>Profile created at:</b>
    <%= @user.created_at.strftime("%b %d %A,%Y at %I:%M%p") %> <br />
    <b> Profile updated at:</b>
    <%= @user.updated_at.strftime("%b %d %A,%Y at %I:%M%p") %> <br /><br />


    <%= link_to image_tag('pass.png'),chgpass_user_path(@user), :class=>"dropt", :title=>"change password"  %>

  </div>
 </div>










