
<div class="table">
  <div class="tr">
    <div class="th">Category</div>
    <div class="th">no of questions</div>
    <div class="th">Right answers</div>
    <div class="th">Wrong answers</div>
    <div class="th">Mark</div>
    <div class="th">Mark(%)</div>
  </div>
  <% @categories.each do |cat| %>
      <%  no_of_questions = @recruitment_test.candidate.schedule.exam.questions.select { |q| q.category_id == cat.id}.size  %>
      <% if no_of_questions > 0 %>
          <div class="tr">
            <div class="td"><%=cat.category    %></div>
            <div class="td"><%= no_of_questions %></div>
            <div class="td"><%= @recruitment_test.each_right_answers(cat) %></div>
            <div class="td"><%= @recruitment_test.each_wrong_answers(cat) %></div>
            <div class="td"><%= @recruitment_test.calc_mark(cat)  %></div>
            <div class="td"><%= number_with_precision(@recruitment_test.calc_mark_percentage(cat),:precision=>2)  %></div>
          </div>
      <% end %>
  <% end %>
</div>

<% if @extra_answers.present? %>
    <br/>
    <h3>Additional answers:</h3>
    <%
      attend = @extra_answers.size
      right = @extra_answers.select{|ans| ans.question && ans.answer == ans.question.answer_id }.size
      wrong = attend - right
    %>
    <div class="table"  >
      <div class="tr">
        <div class="th">Total questions</div>
        <div class="th">Questions attended</div>
        <div class="th">Right answers</div>
        <div class="th">Wrong answers</div>
      </div>
      <div class="tr">
        <div class="td"><%= @additional %></div>
        <div class="td"><%= attend %></div>
        <div class="td"><%= right %></div>
        <div class="td"><%= wrong %></div>
      </div>
<% end %>
</div>
