<h1>Results</h1>


    <form class="filter_form">

      <table  cellpadding="5" class="filter_table"  >
        <tr>
          <td width="60%" ></td>
          <th>Mark(min):</th>
          <th>Mark(max):</th>
          <th width="20%" >From:</th>
          <th width="20%" >To:</th>
          <th>Name:</th>
        </tr>
        <tr>
          <td width="60%" ></td>
              <td><%= text_field_tag "search[min]",params[:search]?params[:search][:min]:"",:class=>"text_box2"  %></td>
              <td><%= text_field_tag "search[max]",params[:search]?params[:search][:max]:"",:class=>"text_box2"  %></td>
              <td><%= text_field_tag  "search[from]",params[:search]?params[:search]["from"]:"" ,:class=>"text_box2" %></td>
              <td><%= text_field_tag   "search[to]",params[:search]?params[:search]["to"]:"", :class=>"text_box2" %></td>
              <td><%= text_field_tag "search[name]",params[:search]?params[:search][:name]:"" ,:class=>"text_box2" %></td>
          <td class="dropt" title="search" ><%=image_submit_tag 'filter.png' , :class => 'search' %></td>


        </tr>
      </table>

    </form>





<%= form_tag("/recruitment_tests/sent_mail", :method => "post") do  %>

    <table  class="index_table" >
      <tr>
        <th width="3%"><input type="checkbox" onClick="toggle1(this)" title="Select/Unselect all" /></th>
        <th width="20%">Candidate Name</th>
        <th width="15%">Exam</th>
        <th width="7%" >Total questions</th>
        <th width="7%" >Questions attended</th>
        <th width="6%">Right answers</th>
        <th width="10%">Mark(%)</th>
        <th width="30%">Comments</th>
        <th width="5%">Status</th>
      </tr>

      <% @recruitment_tests.each do |recruitment_test| %>
          <tr>
            <td><%=check_box_tag "email[sent_ids][]",   recruitment_test.id %></td>
            <td class="lft" ><%= recruitment_test.candidate.name %></td>
            <td class="lft" ><%= recruitment_test.candidate.schedule.exam.name %></td>
            <td><%= recruitment_test.candidate.schedule.exam.questions.count%></td>
            <td><%= recruitment_test.no_of_question_attended%></td>
            <td  ><%= recruitment_test.right_answers%></td>
            <td ><%= number_with_precision(recruitment_test.mark_percentage, :precision => 2)%></td>
            <td class="lft"><%= recruitment_test.comments%></td>
            <% if recruitment_test.is_passed=="Pending"  %>
                <td><%=link_to "Pending", recruitment_test_path(recruitment_test)%></td>
            <% elsif recruitment_test.is_passed=="Passed"  %>
                <td style="background-color: #adff2f;" ><%= link_to "Passed", recruitment_test_path(recruitment_test)%></td>
            <% else %>
                <td style="background-color: #f08080;" ><%= link_to "Failed", recruitment_test_path(recruitment_test)%></td>
            <% end %>

          </tr>
      <% end %>
    </table>
    <br /> <%= button_to "Sent selected result to admin's email",sent_mail_recruitment_tests_path(:id=>33), data: { confirm: 'Are you sure?' } , class:"btn-success" %>
<% end %>
<h4><%= will_paginate @recruitment_tests ,:container=>false %></h4>

<script type="text/javascript" >

    function toggle1(source) {
        var checkboxes = document.getElementsByTagName("input");

        for(var i in checkboxes)
            if(document.getElementsByTagName("input")[i].type == "checkbox")
                document.getElementsByTagName("input")[i].checked = source.checked;
    }
</script>


