<h1>Results</h1>
<form class="filter_form">

  <table cellpadding="5" class="filter_table"  >
    <tr>
      <td width="60%" ></td>
      <th>Mark(min):</th>
      <th>Mark(max):</th>
      <th width="20%" >From:</th>
      <th width="20%" >To:</th>
      <th>Name:</th>

    </tr>
    <tr>
      <td width="60%" ></td>
      <td><%= text_field_tag "search[min]",params[:search]?params[:search][:min]:"",:class=>"text_box2"  %></td>
      <td><%= text_field_tag "search[max]",params[:search]?params[:search][:max]:"",:class=>"text_box2"  %></td>
      <td><%= text_field_tag  "search[from]",params[:search]?params[:search]["from"]:"" ,:class=>"text_box2" %></td>
      <td><%= text_field_tag   "search[to]",params[:search]?params[:search]["to"]:"", :class=>"text_box2" %></td>
      <td><%= text_field_tag "search[name]",params[:search]?params[:search][:name]:"" ,:class=>"text_box2" %></td>
      <td class="dropt" title="search" ><%=image_submit_tag 'filter.png' , :class => 'search' %></td>


    </tr>
  </table>

</form>
<% if @recruitment_tests.empty? %>
    <h2>No results..</h2>
<% else %>
    <%= form_tag("/recruitment_tests/sent_mail", :method => "post") do  %>

        <table id="report"  >
          <tr>
            <th width="3%"><input type="checkbox" onClick="toggle1(this)" title="Select/Unselect all" /></th>
            <th width="20%">Candidate Name</th>
            <th width="25%">Exam</th>
            <th width="7%" >Total questions</th>
            <th width="7%" > Questions attended </th>
            <th width="6%"><%= sortable "right_answers"%></th>
            <th width="10%"><%= sortable "mark_percentage"%></th>
            <th width="20%">Status of Selection</th>
            <!--<th width="15%">Comments</th>-->
            <th width="2%"> </th>
          </tr>

          <% @recruitment_tests.each do |recruitment_test| %>
              <tr>
                <td><%=check_box_tag "email[sent_ids][]",   recruitment_test.id %></td>
                <td class="lft" >
                  <%= link_to recruitment_test.candidate.name,recruitment_test, title: "Details" %>
                  <%= image_tag('new.gif') if recruitment_test.created_at.to_date == Date.today %>
                </td>
                <td class="lft" ><%= recruitment_test.candidate.schedule.exam.name %></td>
                <td><%= recruitment_test.candidate.schedule.exam.questions.size%></td>
                <td><%= recruitment_test.no_of_question_attended%></td>
                <td  ><%= recruitment_test.right_answers%></td>
                <td ><%= number_with_precision(recruitment_test.mark_percentage, :precision => 2)%></td>
                <td class="lft">
                  <% if recruitment_test.is_passed=="Pending"  %>
                      <div style="padding-left: 20px;" id="parent<%= recruitment_test.id %>">
                        <div style="float:left;">
                          <%= link_to "Pass" ,"#", class: "btn btn-mini btn-success",id: "p#{recruitment_test.id}", onclick: "decision_pass(#{recruitment_test.id});" , remote: true -%>
                        </div>
                        <div style="float:left;">
                          _or_
                        </div>
                        <div style="float:left;">
                          <%= link_to "Fail" ,"#",  class: "btn btn-mini btn-danger",id: "f#{recruitment_test.id}", onclick: "decision_fail(#{recruitment_test.id});" , remote: true -%>
                        </div>
                        <div style="clear:both;">
                        </div>
                      </div>
                      <div id="pdiv<%= recruitment_test.id %>" style="display: none;"><%= image_tag('passed.png',size: "90x25")  %></div>
                      <div id="fdiv<%= recruitment_test.id %>" style="display: none;"><%= image_tag('failed.png',size: "90x25")  %></div>
                  <% elsif recruitment_test.is_passed=="Passed"  %>
                      <%= image_tag('passed.png',size: "90x25")  %>
                  <% else %>
                      <%= image_tag('failed.png',size: "90x25")  %>
                  <% end %>

                </td>
                <!--<td class="lft"><%#= recruitment_test.comments%></td>-->

                <td class="see">
                  <div class="arrow">
                  </div>
                </td>
              </tr>
              <tr>
                <td colspan="10">
                  <%= render 'category_wise_mark',:@recruitment_test => recruitment_test,:@extra_answers => find_extra(recruitment_test)%>
                </td>
              </tr>
          <% end %>
        </table>
        <br /> <%= button_to "Sent selected result to admin's email",sent_mail_recruitment_tests_path(:id=>33), data: { confirm: 'Are you sure?' } , class:"btn btn-success" %>
    <% end %>
    <%= pagination_links(@recruitment_tests) %>
<% end %>
<script type="text/javascript" >
    function decision_pass(id){
        jQuery('#parent'+id).detach();
        jQuery('#pdiv'+id).show();
        jQuery.ajax({
            type: 'GET',
            url: '/recruitment_tests/'+id+'/pass_or_fail',
            data: {status: "Passed"}
        });
    }
    function decision_fail(id){
        jQuery('#parent'+id).detach();
        jQuery('#fdiv'+id).show();
        jQuery.ajax({
            type: 'GET',
            url: '/recruitment_tests/'+id+'/pass_or_fail',
            data: {status: "Failed"}
        });
    }

    function toggle1(source) {
        var checkboxes = document.getElementsByTagName("input");

        for(var i in checkboxes)
            if(document.getElementsByTagName("input")[i].type == "checkbox")
                document.getElementsByTagName("input")[i].checked = source.checked;
    }
</script>

<script type="text/javascript">
    jQuery(document).ready(function(){
        jQuery("#report tr:odd").addClass("odd");
        jQuery("#report tr:not(.odd)").hide();
        jQuery("#report tr:first-child").show();

        jQuery(".see").click(function(){
            jQuery(this).parent("tr").next("tr").toggle();
            jQuery(this).find(".arrow").toggleClass("up");
        });
    });
</script>
