<div class="row">
  <div class="span12 offset0"><h1>Candidate:
   <%=@recruitment_test.candidate.name %>

  </h1>
    <br/>
    <b>Email id:</b><%= @recruitment_test.candidate.user.user_email %><br/>
    <b>Exam completed on:</b><%= @recruitment_test.completed_on.strftime("%b %d %A,%Y at %I:%M%p")  %> <br/>
     <br/>



    <%= form_for (@recruitment_test) do |f|%>






    <table border="3" width="30%"  align="center"       >
      <tr>
        <th>Category</th>
        <th>no of questions</th>
        <th>Right answers</th>
        <th>Mark(%)</th>
      </tr>
         <% Category.all.each do |cat| %>
         <% if @recruitment_test.candidate.schedule.exam.questions.where("category_id=?",cat.id).count!=0 %>

          <tr>
            <td><%=cat.category    %></td>
            <td><%= @recruitment_test.candidate.schedule.exam.questions.where("category_id=?",cat.id).count %></td>
            <td><%= @recruitment_test.each_right_answers(cat) %></td>
            <td><%= @recruitment_test.calc_mark(cat)  %></td>

          </tr>
          <% end %>
          <% end %>
    </table>


    <h3 align="left" >Answer Paper:</h3> <br/>

        <table border="3" width="100%" align="center"     >
          <tr>
            <th width="60%" >Question</th>
            <th width="15%" >Candidate's Answer</th>
            <th width="10%" >Right answer</th>
            <th width="5%" >Time bonus</th>
            <th width="5%" >Category</th>
            <th width="5%" >Complexity</th>
          </tr>
          <% @recruitment_test.candidate.answers.each do |ans| %>
                      <tr>
                        <td class="lft" ><%=ans.question.question   %></td>
                        <% i=0 %>
                        <td><%ans.question.options.each do |op|  %>
                                <% if ans.answer[i]=="1" %>
                                    <%='|'+op.option+'|'  %>
                                <% end %>
                              <% i+=1 %>
                             <% end %>
                        </td>

                        <%#=ans.question.answer_id  %>
                        <td><%ans.question.options.each do |op|  %>
                              <% if op.is_right  %>
                              <%='|'+op.option+'|'  %>
                              <% end %>
                              <% end %>
                        </td>
                        <td><%=ans.question.allowed_time-ans.time_taken %></td>
                        <td><%=ans.question.category.category  %></td>
                         <td><%=ans.question.complexity.complexity  %></td>

                      </tr>
                  <% end %>


        </table>
         <br/>
        <b>Decision: <%=f.select :is_passed ,["Passed","Failed"],{:selected =>:is_passed} %>
        <%=f.label :Comments  %></b>
        <%=f.text_area  :comments ,:rows=>"5"%>  <br />
        <div align="center" ><%= f.submit "Submit" ,class: "btn btn-large btn-primary" %></div>
        <% end %>
         <%= link_to image_tag('back.png'), recruitment_tests_path  %>

  </div>
</div>