
    <%= form_for @schedule do |f| %>
        <div class="error_msg">
          <%= render  "shared/error_message", :target => @schedule   %>
        </div>

        <%= f.label :date_and_time %>
        <%= f.calendar_date_select "sh_date", :valid_date_check => "date >= (new Date()).stripTime()" , :month_year => "label" , :popup => :force  %>
        <%= f.label :exam%>
        <%= f.select  :exam_id , @exam.collect {|e| [e.name,e.id]}%>



        <% if @candidates.empty?   %>

            <h3><%="No candidates to schedule the exam" %></h3>
        <% else %>

     <table border="2" width="50%"  >
       <tr>
         <th>Candidate Name</th>
         <th>Email id</th>
         <th>select/not</th>
       </tr>

         <%= f.fields_for :candidate_ids do |f1| %>



         <% @candidates.each do |c| %>
       <tr>
         <td width="30%" ><%= c.name %></td>
         <td width="50%" ><%= c.user.user_email %></td>
         <td width="20%"  ><%= f1.check_box  c.id%></td>

      </tr>


               <% end %>
         <% end %>
     </table>
       <br /><br />
       <%= f.submit "Schedule" ,class: "btn btn-large btn-primary" ,:onclick=>"show_submitting();"%>
         <% end %>











    <% end %>
       <br /><%= link_to image_tag('back.png') ,schedules_path %>






