<div class="row">
  <div class="span12 offset0">
    <h3 align="right" class="dropt" title="new schedule"  ><%= link_to image_tag('addsh.png'), new_schedule_path,:alt => "Edit Entry" %></h3>

    <h1>Scheduled Exams</h1>
    <table border="3" width="100%" >
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Test</th>
        <th>Time Remaining</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @schedules.each do |schedule| %>
          <tr>
             <td width="25%" ><%=  schedule.sh_date.strftime("%b %d %A,%Y") %></td>
            <td width="15%" ><%= schedule.sh_date.strftime("%I:%M%p") %></td>
            <td width="15%" ><%= schedule.exam.name  %></td>
            <% if  schedule.sh_date.to_i - Time.new.to_i < 0  %>
                <td width="30%" ><%= "Time over"  %></td>
            <% else %>
                <td width="30%" ><%= time_ago_in_words(schedule.sh_date)    %></td>
            <% end %>
            <td class="dropt" title="detail"  ><%= link_to image_tag('show.png'), schedule_path(schedule) %></td>
            <td class="dropt" title="edit" ><%= link_to image_tag('edit.png'), edit_schedule_path(schedule) %></td>
            <td class="dropt" title="delete" ><%= link_to  image_tag('delete.png'), schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </table>
<h4><%= will_paginate @schedules ,:container=>false %></h4>

  </div>
</div>

