<div class="row">
  <div class="span10 offset0">
    <h1>Scheduled Exams</h1>
    <table border="3" >
      <tr>
        <th>Date</th>
        <th>Time</th>
        <th>Test</th>
        <th>Time Remaining</th>
      </tr>

      <% @schedules.each do |schedule| %>
          <tr>
            <%            @date= DateTime.new(schedule.sh_date.year, schedule.sh_date.month, schedule.sh_date.day,schedule.sh_time.hour-6, schedule.sh_time.min-30, schedule.sh_time.sec)            %>
            <td><%=  schedule.sh_date.strftime("%b %d %A,%Y") %></td>
            <td><%= schedule.sh_time.strftime("%I:%M%p") %></td>
            <td><%= schedule.exam.name  %></td>
            <td><%= time_ago_in_words(@date)    %></td>
            <td><%= link_to image_tag('show.png'), schedule_path(schedule) %></td>
            <td><%= link_to image_tag('edit.png'), edit_schedule_path(schedule) %></td>
            <td><%= link_to  image_tag('delete.png'), schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </table>
<h4><%= will_paginate @schedules ,:container=>false %></h4>
    <br /><h3><%= link_to image_tag('addsh.png'), new_schedule_path,:alt => "Edit Entry" %></h3>
    <script type="text/javascript" >
        var id = 1;
        <%=button_to_function 'sdg', :url => {:controller=>'schedules', :action=>'show'}, :with => "'user_id=' + id" ,:remote=>true%>
    </script>

  </div>
</div>

