<div class="row">
  <div class="span10 offset0">
      <h2>Schedule/Re schedule an Exam for
      <%= @candidate.name  %>
      </h2>
    <%= form_for @schedule do |f| %>


           <% if @schedule.errors.any? %>
            <div id="error_explanation">
             <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this candidate from being saved:</h2>

             <ul>
             <% @schedule.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
             </ul>
              </div>
          <% end %>


        <%= f.label :exam%>
        <%= f.select  :exam_id , @exam.collect {|e| [e.name,e.id]}%>

        <%= f.label :date_and_time %>
        <%#= f.text_field :sh_date %>


       <%= f.calendar_date_select "sh_date", :valid_date_check => "date >= (new Date()).stripTime()" , :month_year => "label" , :popup => :force %>



         <%= f.fields_for :candidate_ids do |f1| %>
           <%= f1.check_box  @candidate.id ,:checked=>true,:style=>"display: none"%>
         <% end %>

       <br /><br />
       <%= f.submit "Schedule" ,class: "btn btn-large btn-primary" %>











    <% end %>
       <br /><%= link_to image_tag('back.png') ,candidates_path  %>
  </div>
</div>







