

<%= form_for([@question,@option]) do |f1| %>


   <% if @option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




        <%= f1.label :option %>
        <%= f1.text_field :option %>

         <br />
        <%= f1.check_box :is_right ,:value => :is_right %>
        <%= f1.label :is_right_answer? %>

        <%= f1.submit "Save" ,class: "btn btn-large btn-primary" %>
    <% end %>
        <%= link_to image_tag('back.png'),edit_question_path(@question) %>

