
    <div>
      <h1>Settings</h1>
      <%= form_for :setting , :url => '/settings/update',:method=>'PUT' do |f| %>


          Can start exam before: <%=  number_field_tag "from" ,@from.status,  class: "text_box" %> (in minutes)  **not using
          <br />

          Cannot start exam after:<%= number_field_tag "untill", @untill.status,  class: "text_box"   %> (in minutes)
          <br />

          <%= check_box_tag :each_mode ,1,@each_mode.status.eql?("on")%>Time Limit for each Question?
          <br />

          <%= check_box_tag :negative ,1,@negative_mark.status.eql?("on")%>Negative mark?
          <br />

          <%= check_box_tag :auto_result,1,@auto_result.status.eql?("on"),:onClick=>"show_category()" %>Auto result calculation?

          <div id="cutoff">
            <table   class="index_table" >
              <tr>
                <th>category</th>
                <th>Cut off Percentage</th>
              </tr>

              <% @categories.sort.each_with_index do |cat,i| %>
                  <tr>
                    <td><%= cat.category %></td>
                     <%=fields_for :categories_attributes do|del|  %>
                      <td><%= del.select cat.id , @cut_off ,{ :selected=>cat.cutoff }  %></td>
                     <% end %>

                  </tr>
              <% end %>
            </table>
          </div>
          <br />
 <br />
          <%= f.submit "submit" ,class: "button" ,:onclick=>"show_submitting();"%>

      <% end %>


    </div>



<script type="text/javascript">
    function show_category()
    {
       if(document.getElementById('auto_result').checked)
       {
           document.getElementById('cutoff').toggle();
       }
       else
       {
           document.getElementById('cutoff').style.display='none';
       }

    }
</script>
<script type="text/javascript">
    document.ready = function()
    {
       if(document.getElementById('auto_result').checked)
       {
         //  document.getElementById('cutoff').toggle();
       }
       else
       {
           document.getElementById('cutoff').style.display='none';
       }

    }
</script>
