<%= form_for  @answer, html: { id: "exam_form", onsubmit: "jQuery('#outer').show();set_flag();"} do |f| %>
<div id="question_answer" style="min-height: 300px;">
  <table align="right"  width="100%"  >
    <tr>
      <td class="lft" width="65%"  >
        <i>
          Question Category:
          <%= @answer.question.category.category %>
        </i>
      </td>
      <td>
        <div class="countdown1" align="right"  >Time Remaining:  </div>
      </td>
      <td>
        <div id="count" class="countdown" align="right "  ></div>
      </td>
    </tr>
  </table>
  <br/>
  <br/>
  <%=f.hidden_field   :dec_time ,:value =>@answer.dec_time %>
  <%= hidden_field_tag   :time_used %>
  <% cache @answer do %>
      <%= render "question", answer: @answer, f: f  %>
  <% end %>
  </b><br/>
</div>
<%= f.submit   :id =>"procedure_submit_button" , :name=>"to",:value=>"timer" , :style => "display: none" ,:remote  => true%>
<table cellpadding="5" align="center"   >
  <tr>
    <td><%= link_to_function  "Reset Answer" , "reset_answers();",class: "btn btn-large" %></td>

          <% if @back %>
    <td><%= f.button  "&#8592;Previous".html_safe , :name=>"to",:value=>@back.id, :disable_with => "Back",class: "btn btn-large btn-primary" %></td>
      <% end %>
      <% if @next %>
          <td><%= f.button  "Next&#8594;".html_safe , :name=>"to",:value=>@next.id, :disable_with => "Next",class: "btn btn-large btn-primary" %></td>
      <% end %>
      <%# if @submit %>
    <%# end %>
    </tr>
    </table>
    <br/> <br/>
    <h3>Questions:</h3>[Click on the question number button to jumb to that question.]
    <div style="overflow: hidden;">
      <% @answers.sort.each_with_index do |ans,i| %>
          <div style="float: left;     width: 30px;" >
            <% if ans.answer!="0"&&ans.id!=@answer.id  %>
                <%= f.button  i+1, :name=>"to",:value=>ans.id, :disable_with => i+1,:style=>"background-color: #90ee90; border-radius: 15px;", title: "answered question"   %>
            <% elsif ans.id==@answer.id  %>
                <%= f.button  i+1, :name=>"to",:value=>ans.id, :disable_with => i+1 ,:style=>"background-color: orange; border-radius: 15px;", title: "current question" %>
            <% else %>
                <%= f.button  i+1, :name=>"to",:value=>ans.id, :disable_with => i+1,:style=>" border-radius: 15px;", title: "not answered question" %>
            <% end %>
          </div>
      <% end %>
    </div>
     <div align="center">
       <%= f.button 'Submit Section B', :name=>"to",:value=>"finish",class: "btn btn-large btn-danger",:title=>"Submit your exam" , :disable_with =>'Submit Section B',:onclick=>"finish_exam(); return false;"%>
     </div>
    <br/>
    <br/> Please call: 0484 4242800 for immediate assistance <br/>
<% end %>
<div id="confirm" style="display: none;">Really want to submit Section B of your exam?</div>

<script type="text/javascript" >
    window.onload = function()
    {
        startCountdown(<%=cnt=@count%>)
    }
  var flag= 0,time_used = 0;
  function set_flag(){
      flag = 1;
  }
  function startCountdown(g_iCount)
  {
      if((g_iCount) > 0)
      {
          var str="green";
          if (g_iCount<20&&g_iCount>=10)
          {
              str="orange"
          }
          else if (g_iCount<10)
          {
              str="red"
          }

          var remaining = Math.floor(g_iCount/60)+" min "+g_iCount%60+" sec" ;
          document.getElementById('count').innerHTML=remaining.toString().fontcolor(str);
          jQuery('#time_used').val(time_used);
          time_used++;

          g_iCount = g_iCount - 1;
          if (flag == 0){
              setTimeout(function() {startCountdown(g_iCount); }, 1000);
          }
          else{
              return;
          }
      }
      else
      {
          document.getElementById('procedure_submit_button').click();
      }
  }

  var message="Function Disabled!";


  function clickIE4(){
      if (event.button!=0){

          return false;
      }
  }

  function clickNS4(e){
      if (document.layers||document.getElementById&&!document.all){
          if (e.which==2||e.which==3){

              return false;
          }
      }
  }

  if (document.layers){
      document.captureEvents(Event.MOUSEDOWN);
      document.onmousedown=clickNS4;
  }
  else if (document.all&&!document.getElementById){
      document.onmousedown=clickIE4;
  }

  document.oncontextmenu=new Function("return false")

  document.onkeydown = function(e){
      if(e.keyCode != 0)
      {
          return false;
      }

  }
</script>
