<script type="text/javascript">
    var flag= 0,time_used = 0, first_q = <%= @questions.first.id %>, locked = false ;
    var additional_url = "<%= additional_answers_url %>" ;
    var feedback_url = "<%= feed_back_answers_url %>" ;
    var partB = <%= @candidate.submitted %> ;
    var additional_q = <%= @additional_question %> ;
    var ajax_request_fail_count = 0;
    jQuery("#question_<%= @questions.first.id %>").show("slow");
    var trace = '';

    window.onload = function()
    {
        jQuery("#question_"+first_q).show();
        jQuery("#loadingdiv").hide();
        startCountdown(<%= @time -1 %>)

        //to trace the anwer
        jQuery("input[type='radio']").on("click", function() {
          name = jQuery(this).attr("name");
          jQuery("input[name="+name+"]").each(function(trace_count) {
            if(this.checked) {
              last_answer = trace.slice(-1);
              if (last_answer != trace_count+1)
                trace += trace_count+1;
            }
          });

        });

    }

    function show_this(current, q_id, dir){
        var finish = 0;
        var direction = typeof dir !== 'undefined' ? dir : 'no';
        //from question button
        if(current == 0)
            current = jQuery('div:visible.all_questions').attr('value');

        //finishing exam
        if(q_id == 0)
        {
            jQuery("#loadingdiv").show();
            finish = 1;
        }
        //finishing additional questions
        else if(q_id == -1)
        {
            jQuery("#loadingdiv").show();
            finish = 2;
        }
        if(direction == 'next')   //next
        {
            jQuery("#question_"+current).hide('slide', {direction: 'left'}, 500, function() {
               jQuery("#question_"+q_id).show('slide', {direction: 'right'}, 500);
            });
        }
        else if(direction == 'previous')             //previous
        {
            jQuery("#question_"+current).hide('slide', {direction: 'right'}, 500, function() {
                jQuery("#question_"+q_id).show('slide', {direction: 'left'}, 500);
            });
        }
        else             //previous
        {
            jQuery("#question_"+current).hide('slide', 250, function() {
                jQuery("#question_"+q_id).show('slide', 250);
            });
        }

        var t_used = jQuery('#time_used').val();

        //setting up the options
        var op_id = "";
        jQuery("input[name="+current+"]").each(function() {
            if(this.checked)
                op_id += "1";
            else
                op_id += "0";
        });
        if(op_id.indexOf("1") == -1)
           op_id = "0";
        //set background green of question button if select an option
        if(parseInt(op_id) != 0)
            jQuery("#qbutton_"+current).css({"background-color": "green"});
        else
            jQuery("#qbutton_"+current).css({"background-color": ""});

        //set background black of current question button
        jQuery("#qbutton_"+q_id).css({"background-color": "black"});

        locked =true;
        jQuery("#timeout").dialog({width: 350,height: 250, closeOnEscape: false, modal: true, open: function(event, ui) { 
          jQuery(".ui-dialog-titlebar-close").hide();
        }});
        jQuery(".ui-widget-overlay").css({background: "rgba(202, 202, 202, 0.97)", opacity: 1});

        jQuery("#timeout-loading").html('<%= image_tag("submitting4.gif", alt: "Loading...", style: "") %>');
        
        //sending aswer details to server
        jQuery.ajax({
            type: "POST",
            url: "/answers",
            data:{
                    time_used: t_used,
                    question_id: current,
                    option_id: op_id,
                    trace: trace,
                    finish: finish
                 },
            dataType: "json",
            timeout: 3000,
            tryCount : 0,
            retryLimit : 5,
            success:
                function(data, status){
                    trace = '';
                    locked = false;
                    ajax_request_fail_count = 0;
                    jQuery("#timeout").dialog("close");
                    if(finish == 1){
                        window.location.href = additional_url;
                    }
                    else if(finish == 2){
                        window.location.href = feedback_url;
                    }
                },
            error:  function(xhr, textStatus, errorThrown ) {
                        this.tryCount++;
                        if (this.tryCount > this.retryLimit) {
                            ajax_request_fail_count++;
                            jQuery("#timeout-loading").html(
                                    "<br><br><b>Failed..</b><br><br><b>Click <a href='javascript:void(0);' onclick=\"show_this("+current+","+q_id+",'"+dir+"')\" style='color: green;'>here</a> to retry.</b>"
                            );
                            if (ajax_request_fail_count > 5) {
                              jQuery("#timeout-loading").append("<br><br><b>If you are still unable to save the answer, click <a href=\"#\" onclick=\"window.location.reload(true);\" style=\"color: green;\">here</a> to reload this window..</b><br>")
                            }
                        } else {
                            //try again
                            jQuery.ajax(this);
                            return;
                        }
                        return;
                    }
        });

        //resetting the timer of this question
        time_used = 1;
    }


    function finish_sectionA(){
        jQuery("#confirm").dialog({
            width: 350,draggable: false, closeOnEscape: false, modal: true ,
            buttons: {
                "Submit my exam": function() {
                    show_this(0,0);
                    jQuery(this).dialog( "close" );
                },
                Cancel: function() {
                    jQuery(this).dialog( "close" );
                }
            }
        });
    }
    function finish_exam(){
        jQuery("#confirm3").dialog({
            width: 350,draggable: false, modal: true , closeOnEscape: false,
            buttons: {
                "Submit my exam": function() {
                    show_this(0,-1);
                    jQuery(this).dialog( "close" );
                },
                Cancel: function() {
                    jQuery(this).dialog( "close" );
                }
            }
        });
    }

    function finish_sectionB(){
        jQuery("#confirmB").dialog({
            width: 350,draggable: false, modal: true , closeOnEscape: false,
            buttons: {
                "Submit my exam": function() {
                    show_this(0,-1);
                    jQuery(this).dialog( "close" );
                },
                Cancel: function() {
                    jQuery(this).dialog( "close" );
                }
            }
        });
    }

    function reset_answers(qid){
      if (jQuery("input[name=" + qid + "]:checked").length > 0) {
        jQuery("input[name=" + qid + "]:checked").prop('checked', false);
        trace += '0';
      }
    }


    //validation -------------------------->
      function clickIE4(){
          if (event.button!=0){

              return false;
          }
      }

      function clickNS4(e){
          if (document.layers||document.getElementById&&!document.all){
              if (e.which==2||e.which==3){

                  return false;
              }
          }
      }

      if (document.layers){
          document.captureEvents(Event.MOUSEDOWN);
          document.onmousedown=clickNS4;
      }
      else if (document.all&&!document.getElementById){
          document.onmousedown=clickIE4;
      }

      document.oncontextmenu=new Function("return false")
      document.onkeydown = function(e){
          if(e.keyCode != 0)
          {
              return false;
          }

      }

      jQuery(document).bind("keydown", disablekeys);
      function disablekeys(){
          return false;
      }


    //count down ------------------------
    function startCountdown(g_iCount)
    {
        if((g_iCount) > 0)
        {
            var str="green";
            if (g_iCount<20&&g_iCount>=10)
            {
                str="orange"
            }
            else if (g_iCount<10)
            {
                str="red"
            }

            var remaining = Math.floor(g_iCount/60)+" min "+g_iCount%60+" sec" ;
            document.getElementById('count').innerHTML=remaining.toString().fontcolor(str);
            jQuery('#time_used').val(time_used);
            if(!locked)
            {
                time_used++;
                g_iCount--;
            }
            if (flag == 0){
                setTimeout(function() {startCountdown(g_iCount); }, 1000);
            }
            else{
                return;
            }
        }
        else
        {  if(partB || !additional_q)
            show_this(0,-1);
           else
            show_this(0,0);
        }
    }



</script>
<div id="loadingdiv" style=" dispaly: 'none'; width: 100%;height: 100%;top: 0px;left: 0px;position: fixed;display: block;opacity: 1; background-color: #f5f5f5;z-index: 99; text-align: center;">
  <%= image_tag('loading_icon.gif', alt: "Loading...", style: "  position: absolute;top: 300px;left: 600px; z-index: 100;") %>
</div>

<div>
  <div id="question_answer" style="min-height: 300px;">
    <table align="right"  width="100%"  >
      <tr>
        <td class="lft" width="65%"  >
        </td>
        <td>
          <div class="countdown1" align="right"  >Time Remaining:  </div>
        </td>
        <td>
          <div id="count" class="countdown" align="right "  ><%= "#{@time/60} min #{@time%60}sec" %></div>
        </td>
      </tr>
    </table>
    <br/>
    <br/>
    <%= hidden_field_tag   :time_used %>
    <% @questions.each_with_index do |question,i| %>
        <div style="display: none;" id="question_<%= question.id %>" class="all_questions" value="<%= question.id %>" >
          <%= render 'js_question', question: question, no: i+1 %>
        </div>
    <% end %>
  </div>
  <br>
  <h3>Questions:</h3>
  <div style="width: 100%; min-height: 50px; background-color: #add8e6; border-radius: 10px; overflow: auto; padding: 10px;">
    <% i = 1 %>
    <% @questions.group_by(&:category_id).each do |category,questions| %>
        <div style="float: left; width: 50%;">
        <%= Category.find(category).category %><br>
        <% questions.each do |question| %>
        <div id="<%= "qbutton_#{question.id}" %>" style="float: left;  padding: 7px;background-color: <%= @candidate.answers.where(question_id: question.id).first.answer.to_i > 0 ? "green" : "" %>" >
          <%= button_to_function  i, "show_this(0,#{question.id})", class: "btn btn-small btn-primary", style: "width: 30px;" %>
        </div>
        <% i+= 1 %>
        <% end %>
        </div>
    <% end %>
  </div>

<br/>
<div align="center">
  <% if controller.action_name == "additional" %>
      <%= button_to_function "Finish Section B".html_safe, "finish_sectionB();" ,class: "btn btn-large btn-danger",:title=>"Submit first part of the exam and attends Section B" %>
  <% elsif @additional_question %>
      <%= button_to_function "Finish Section A &#8594&#8594".html_safe, "finish_sectionA();" ,class: "btn btn-large btn-danger",:title=>"Submit second part of the exam" %>
  <% else %>
      <%= button_to_function "Finish Exam", "finish_exam();" ,class: "btn btn-large btn-danger",:title=> 'Submit your exam' %>
<% end %>
</div>
<br/> Please call: 9037498886 for immediate assistance <br/>
<div id="confirm" style="display: none;">
  Are you sure to submit Section A of your Exam? <br/>
  You won't be able to answer or modify from Section A again. Time remaining for Section A will not be carry forward for Section B as it will be elapsed if you go for Submit Section A.<br/><br/>
  If you are done Section A please Press 'Submit my exam' to proceed for Section B else cancel to stay back on Section A.<br/>
</div>
              <div id="confirmB" style="display: none;">
                Really want to submit Section B of your exam?
              </div>
              <div id="confirm3" style="display: none;">
                Really want to submit your exam?
              </div>
 <div id="timeout" style="display: none;">
  Saving...
  <div id="timeout-loading"></div>
</div>

