 <h6>Instructions</h6><br/><br/>
    <b>
    <% @instructions.each do |ins|%>
       <%= image_tag 'point.png' %>
          <%= ins.instruction  %><br/>
    <% end %>
      <%= image_tag 'point.png' %>This Exam contains
      <% Category.all.each do |cat| %>

         <% if @exam.questions.where("category_id=? ",cat.id ).count!=0 %>
          <%= @exam.questions.where("category_id=? ",cat.id ).count %>
          <%=cat.category    %> questions,
         <% end %>
        <% end %>
        <br/>


    <%= image_tag 'point.png' %>Answering time for each questions may be different.<br/>
    <%= image_tag 'point.png' %>Total time:<%=  @exam.total_time/1.minute   %>minutes<br/>
    <%= image_tag 'point.png' %>Number of questions:<%= @exam.no_of_question %><br/>
    <%= image_tag 'point.png' %>Pop up new window when you click 'start exam'<br/>
    <% if @ngtv %>
       <%= image_tag 'point.png' %>Negative mark will be there(1/4).<br/>
    <% else %>
       <%= image_tag 'point.png' %>No negative mark.<br/>
    <% end %>
    <%= image_tag 'point.png' %>Do not touch on 'key board' during the test time.<br/>


    </b>
    <br/>
            <% if @diff > 30 %>
                <div id="long_wait" style="display: none;" >
               <h2>More than one hour is remaining for your exam.
                 <br/>
                 <%=link_to 'sign out', '/signout',method: :delete   %>
               </h2>
             </div>
            <% else %>
                <div id="wait" style="display: none;" >
               <h2>Time remaining for your exam(In minutes),
                 <div id="count" align="center" ></div>
                 <br/><br/>
                 <%=link_to 'sign out', '/signout',method: :delete   %>
               </h2>
             </div>
                <div id="exam" style="display: none;" >
                    <h2><%= link_to 'start_exam >>','/answers/blank' ,:onclick=>"popup()" %></h2>
                </div>
                <div id="over" style="display: none;" >
                    <h2>Sorry,Time is over.</h2>
                </div>
            <% end %>

 <script type="text/javascript">
       function popup()
       {
           var a=window.open('/answers/make',"Test","fullscreen=1,scrollbars=1",true);
           self.blur();
           a.focus();

       }
     window.onload = function()
     {
         startCountdown(<%=cnt=@diff%>);
     }

   function startCountdown(g_iCount)
    {
        if(g_iCount > 60)
        {
//          document.getElementById('long_wait').show();
        }
        else if(g_iCount < -60)
        {
           document.getElementById('exam').hide();
           document.getElementById('over').show();
        }
        else if((g_iCount) > 0)
        {
//            document.getElementById('long_wait').hide();
            document.getElementById('wait').show();
            var str="black";
            if (g_iCount<20&&g_iCount>=10)
            {
                str="blue"
            }
            else if (g_iCount<10)
            {
                str="green"
            }


            document.getElementById('count').innerHTML=g_iCount.toString().fontcolor(str);

            g_iCount = g_iCount - 1;

            setTimeout(function() {

                startCountdown(g_iCount);

            }, 60000);
        }
        else
        {
            document.getElementById('wait').hide();
            document.getElementById('exam').show();
        }
    }



 </script>

















