<div class="row">
  <div class="span10 offset1">

    <h3>Questions:</h3>
    <%= form_for  @answer do |f| %>



        <% @candidate.answers.sort.each_with_index do |ans,i| %>

            <% if (ans.question.allowed_time-ans.time_taken)>3 %>
                <%= f.button  i+1, :name=>"to",:value=>ans.id, :disable_with => i+1 %>
            <% end %>
        <% end %>


       <br />

       <table align="right"   ><tr><td>

       <div class="countdown1" align="right"  >Time Remaining:  </div>
       </td><td>
       <div id="count" class="countdown" align="right "  ></div>
       </td></tr></table>

       <br /><br /><br />

        <%=f.hidden_field   :dec_time ,:value =>@answer.dec_time %>

        <div class="qfont">

        <b><%=@answer.q_no%>.</b>
          <%= @answer.question.question %><br />
           <%= image_tag @answer.question.question_image.url(:original) %><br />
         <br />
        </div>
        <table cellpadding="5"  >

          <% if @answer.question.type.question_type=="check_box" %>

              <% @answer.question.options.sort.each_with_index do |op,i| %>
                  <tr>
                    <%= f.fields_for :c_option do |c_op| %>
                        <td><%=  c_op.check_box  op.id,:checked => @tick[i] %></td>
                    <% end %>
                    <td class="lft" ><%= label_tag op.option %></td>
                  </tr>
              <% end %>

          <% else %>
              <% @answer.question.options.sort.each_with_index do |op,i| %>
                  <tr >
                    <%= f.fields_for :c_option do |c_op| %>
                        <td ><%=  c_op.radio_button 1, op.id,:checked => @tick[i]%></td>
                    <% end %>
                    <td class="lft"  >   <%=   op.option %>  </td>
                  </tr>
              <% end %>

          <% end %>



        </table>

        </b><br />

        <%= f.submit   :id =>"procedure_submit_button" , :name=>"to",:value=>"timer" , :style => "display: none" ,:remote  => true%>

       <div align="center">
        <table cellpadding="10"  ><tr>

          <td><%= f.button 'Finish', :name=>"to",:value=>"finish",class: "btn btn-large btn-primary",:title=>"Submit your exam" %></td>
          </tr> </table>   </div>




    <% end %>

  </div>
</div>




<script type="text/javascript" >
    window.onload = function()
    {

         startCountdown(<%=cnt=@count%>)

    }
</script >



<script type="text/javascript">
    function startCountdown(g_iCount)
    {
        if((g_iCount) > 0)
        {
            var str="green";
            if (g_iCount<20&&g_iCount>=10)
            {
                str="orange"
            }
            else if (g_iCount<10)
            {
                str="red"
            }


            document.getElementById('count').innerHTML=g_iCount.toString().fontcolor(str);

            g_iCount = g_iCount - 1;

            setTimeout(function() {

                startCountdown(g_iCount);

            }, 1000);
        }
        else
        {
            document.getElementById('procedure_submit_button').click();
        }
    }
</script>



<script type="text/javascript">
    <!--


    var message="Function Disabled!";


    function clickIE4(){
        if (event.button!=0){

            return false;
        }
    }

    function clickNS4(e){
        if (document.layers||document.getElementById&&!document.all){
            if (e.which==2||e.which==3){

                return false;
            }
        }
    }

    if (document.layers){
        document.captureEvents(Event.MOUSEDOWN);
        document.onmousedown=clickNS4;
    }
    else if (document.all&&!document.getElementById){
        document.onmousedown=clickIE4;
    }

    document.oncontextmenu=new Function("return false")

    // -->
</script>

<script language=javascript>
document.onkeydown = function(e){
if(e.keyCode != 0)
        {
            return false;
        }

}

</script>