
<%= nested_form_for  @candidate, :html => { :multipart => true,:onsubmit=>"show_submitting();" }  do |f| %>

    <div class="error_msg">
          <%= render  "shared/error_message", :target => @candidate  %>
    </div>

        <table width="75%" >
         <tr>
       <%= f.fields_for :user do |op| %>
       <td class="rght" >
         Email:<%= image_tag 'mandatory.png' %>
        <%= op.text_field :user_email ,:value=>(@candidate.new_record? ? ((params[:candidate]&&params[:candidate][:user_attributes]) ? params[:candidate][:user_attributes][:user_email]: "") : @candidate.user.user_email) ,required:{} %>
       </td>

        <% end %>
         <td class="rght" >
              Name:<%= image_tag 'mandatory.png' %>
              <%= f.text_field   :name  ,required:{} %>
            </td>
         </tr>

          <tr>
            <td class="rght" >
              Address:
              <%= f.text_area  :address , :rows=>5%>
            </td>
            <td class="rght" >
              Phone no 1:
              <%= f.text_field :phone1 %> <br/>
              Phone no 2:
              <%= f.text_field :phone2 %> <br/>
              Technology:
              <%= f.text_field :technology %>
            </td>

          </tr>

          <tr>
            <td class="rght" >
              Certification:
              <%= f.text_field :certification %>
            </td>
            <td class="rght" >
              Skills:
              <%= f.text_field :skills %>
            </td>
          </tr>
        </table>

        <%#= f.label :resume  %>
        <%#= f.file_field :resume %>

                <br />
        <h3>Experiences:</h3>

           <%= f.fields_for :experiences  do |op| %>

                <%= op.text_field "from_date",:class=>"calendar",:placeholder => "From date*" %>
                <%= op.text_field "to_date",:class=>"calendar",:placeholder => "To date*" %>
                <%= op.text_field :experience_in ,:class=>"text_box3",:placeholder => "Experience in*"%>
                <%= op.text_field :experience_from,:class=>"text_box3",:placeholder => "Experience from" %>
                <%= op.link_to_remove image_tag('delete.png',:title =>"Remove" )  %>
          <% end %>
        <p><%= f.link_to_add image_tag('addc.png',:title =>"Add new experience"  ), :experiences %></p>

        <br /><h3>Qualifications</h3>
           <%= f.fields_for :qualifications  do |op| %>

                <%= op.text_field :qualification_in,:class=>"text_box3" ,:placeholder => "Qualification_in*"%>
                <%= op.text_field :qualification_from,:class=>"text_box3",:placeholder => "Qualification_from" %>
                <%= op.text_field "from_date",:placeholder => "From_date*", :class=>"calendar" %>
                <%= op.text_field "to_date",:placeholder => "To_date*"  ,:class=>"calendar"%>
                <%= op.text_field :mark_percentage,:placeholder => "Mark_percentage",:class=>"text_box3",:style=>"width:110px" %>
                <%= op.text_field :comments,:placeholder => "Comments" ,:class=>"text_box3"%>
                <%= op.link_to_remove image_tag('delete.png',:title =>"Remove" )  %>

          <% end %>

                <p><%= f.link_to_add image_tag('addc.png',:title =>"Add new qualification "  ), :qualifications %></p>
    <br />
    <% if  @candidate.schedule && @candidate.recruitment_test.new_record?   %>
        <%= f.check_box  "done",:onclick=>"document.getElementById('result').toggle()" %>Exam Completed?
    <% end %>
    <br />

    <div id="result" style="display: none;"   >
      <%= f.fields_for :recruitment_test     do |f1| %>

          <table border="3">
            <tr>
              <th>completed?</th>
              <th>completed on</th>
              <th>right answers</th>
              <th>no of question attended</th>
              <th>mark percentage</th>
              <th>status</th>
              <th>comments</th>
            </tr>
            <tr>
              <td><%= f1.select :is_completed,[["Yes",1],["No",0]],  { :include_blank => true,:selected =>:is_completed} %></td>
              <td><%= f1.text_field  :completed_on, :class=>"calendar" %></td>
              <td><%= f1.text_field :right_answers,:class=>"text_box3" %></td>
              <td><%= f1.text_field :no_of_question_attended,:class=>"text_box3" %></td>
              <td><%= f1.text_field :mark_percentage,:class=>"text_box3" %></td>
              <td><%= f1.select  :is_passed , ["Pending","Passed","Failed"], { :include_blank => true}%></td>
              <td><%= f1.text_field :comments,:class=>"text_box3" %></td>
            </tr>

          </table>

          <br />
          <%#= f1.submit "Submit" ,class: "btn btn-large btn-primary",:name=>"by",:value=>"Submit_result" %><br />
      <% end %>
    </div>
           <br /> <br />
        <%= f.submit "Register" ,class: "btn btn-large btn-primary" , :disable_with=>"Registering.."%>
    <% end %>
         <%= link_to image_tag('back.png'),candidates_path  %>
