
<%= nested_form_for  @candidate, :html => { :multipart => true }  do |f| %>


   <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
        <table width="75%" >
         <tr>
       <%= f.fields_for :user do |op| %>
       <td class="rght" >
         Email:<%= image_tag 'mandatory.png' %>
        <%= op.text_field :user_email ,:value=>"" %>
       </td>

        <%= op.password_field :login_password ,:value=>"",:style=>"display: none"%>


        <%= op.password_field :login_password_confirmation,:value=>"" ,:style=>"display: none"%>


        <% end %>
         <td class="rght" >
              Name:<%= image_tag 'mandatory.png' %>
              <%= f.text_field   :name  %>
            </td>
         </tr>

          <tr>
            <td class="rght" >
              Address:
              <%= f.text_area  :address , :rows=>5%>
            </td>
            <td class="rght" >
              Phone no 1:
              <%= f.text_field :phone1 %> <br/>
              Phone no 2:
              <%= f.text_field :phone2 %> <br/>
              Technology:
              <%= f.text_field :technology %>
            </td>

          </tr>

          <tr>
            <td class="rght" >
              Certification:
              <%= f.text_field :certification %>
            </td>
            <td class="rght" >
              Skills:
              <%= f.text_field :skills %>
            </td>
          </tr>
        </table>

        <%= f.label :resume  %>
        <%= f.file_field :resume %>
        <br />
                <br />
        <h3>Experiences:</h3>

           <%= f.fields_for :experiences  do |op| %>

                <%= op.calendar_date_select "from_date", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force ,:class=>"text_box3",:placeholder => "From date*"%>
                <%= op.calendar_date_select "to_date", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force ,:class=>"text_box3",:placeholder => "To date*"%>
                <%= op.text_field :experience_in ,:class=>"text_box3",:placeholder => "Experience in*"%>
                <%= op.text_field :experience_from,:class=>"text_box3",:placeholder => "Experience from" %>
                <%= op.link_to_remove image_tag('delete.png',:title =>"Remove" )  %>
          <% end %>
        <p><%= f.link_to_add image_tag('addc.png',:title =>"Add new experience"  ), :experiences %></p>

        <br /><h3>Qualifications</h3>
           <%= f.fields_for :qualifications  do |op| %>

                <%= op.text_field :qualification_in,:class=>"text_box3" ,:placeholder => "Qualification_in*"%>
                <%= op.text_field :qualification_from,:class=>"text_box3",:placeholder => "Qualification_from" %>
                <%= op.calendar_date_select "from_date",:placeholder => "From_date*", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force,:class=>"text_box3" %>
                <%= op.calendar_date_select "to_date",:placeholder => "To_date*", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force ,:class=>"text_box3"%>
                <%= op.text_field :mark_percentage,:placeholder => "Mark_percentage",:class=>"text_box3",:style=>"width:110px" %>
                <%= op.text_field :comments,:placeholder => "Comments" ,:class=>"text_box3"%>
                <%= op.link_to_remove image_tag('delete.png',:title =>"Remove" )  %>

          <% end %>

                <p><%= f.link_to_add image_tag('addc.png',:title =>"Add new qualification "  ), :qualifications %></p>

           <br /> <br />
        <%= f.submit "Register" ,class: "btn btn-large btn-primary" %>
    <% end %>
         <%= link_to image_tag('back.png'),candidates_path  %>
