<%= nested_form_for  @candidate, :html => { :multipart => true,:onsubmit=>"show_submitting();" }  do |f| %>
    <%=  render 'form_fields', f: f %>
    <% if  @candidate.schedule && @candidate.recruitment_test.new_record?   %>
        <%= f.check_box  "done",:onclick=>"document.getElementById('result').toggle()" %>Exam Completed?
    <% end %>
    <br />
    <div id="result" style="display: none;"   >
      <%= f.fields_for :recruitment_test     do |f1| %>
          <table border="3">
            <tr>
              <th>completed?</th>
              <th>completed on</th>
              <th>right answers</th>
              <th>no of question attended</th>
              <th>mark percentage</th>
              <th>status</th>
              <th>comments</th>
            </tr>
            <tr>
              <td><%= f1.select :is_completed,[["Yes",1],["No",0]],  { :include_blank => true,:selected =>:is_completed} %></td>
              <td><%= f1.text_field  :completed_on, :class=>"calendar" %></td>
              <td><%= f1.text_field :right_answers,:class=>"text_box3" %></td>
              <td><%= f1.text_field :no_of_question_attended,:class=>"text_box3" %></td>
              <td><%= f1.text_field :mark_percentage,:class=>"text_box3" %></td>
              <td><%= f1.select  :is_passed , ["Pending","Passed","Failed"], { :include_blank => true}%></td>
              <td><%= f1.text_field :comments,:class=>"text_box3" %></td>
            </tr>
          </table>
          <br />
      <% end %>
    </div>
    <%= f.submit "Register" ,class: "btn btn-large btn-primary" , :disable_with=>"Registering.."%>
    <%= link_to "Cancel", candidates_path  ,class: "btn btn-large btn-warning"%>
<% end %>
