<div class="row">
  <div class="span12 offset0">


<%= form_for  @candidate, :html => { :multipart => true }  do |f| %>


   <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

       <%= f.fields_for :user do |op| %>

        <%= op.label :Email %>
        <%= op.text_field :user_email ,:value=>"" %>


        <%= op.password_field :login_password ,:value=>"12345",:style=>"display: none"%>


        <%= op.password_field :login_password_confirmation,:value=>"12345" ,:style=>"display: none"%>


        <% end %>


        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :address %>
        <%= f.text_area  :address ,  :rows=>"3"%>

        <%= f.label :phone_no_1 %>
        <%= f.text_field :phone1 %>

        <%= f.label :phone_no_2 %>
        <%= f.text_field :phone2 %>

        <%= f.label :technology %>
        <%= f.text_field :technology %>

        <%= f.label :certification %>
        <%= f.text_field :certification %>

        <%= f.label :skills %>
        <%= f.text_field :skills %>

        <%= f.label :resume  %>
        <%= f.file_field :resume %>
        <br />
                <br />
        <h3>Experiences</h3>

        <table border="3" width="100%"  >
          <tr>
            <th>from_date</th>
            <th>to_date</th>
            <th>experience_in</th>
            <th>experience_from</th>

          </tr>
           <%= f.fields_for :experiences  do |op| %>
              <tr>
                <td><%= op.calendar_date_select "from_date", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force ,:class=>"text_box3"%>                </td>
                <td><%= op.calendar_date_select "to_date", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force ,:class=>"text_box3"%>                </td>
                <td><%= op.text_field :experience_in ,:class=>"text_box3"%></td>
                <td><%= op.text_field :experience_from,:class=>"text_box3" %></td>

              </tr>
          <% end %>
        </table>


        <br /><h3>Qualifications</h3>

        <table border="3" width="100%" >
          <tr>
            <th>qualification_in</th>
            <th>qualification_from</th>
            <th>from_date</th>
            <th>to_date</th>
            <th>mark_percentage</th>
            <th>comments</th>


          </tr>
           <%= f.fields_for :qualifications  do |op| %>
              <tr>
                <td><%= op.text_field :qualification_in,:class=>"text_box3" %></td>
                <td><%= op.text_field :qualification_from,:class=>"text_box3" %></td>
                <td><%= op.calendar_date_select "from_date", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force,:class=>"text_box3" %></td>
                <td><%= op.calendar_date_select "to_date", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force ,:class=>"text_box3"%></td>
                <td><%= op.text_field :mark_percentage,:class=>"text_box3" %></td>
                <td><%= op.text_field :comments ,:class=>"text_box3"%></td>
               </tr>
          <% end %>
        </table>

           <br /> <br />
        <%= f.submit "Register" ,class: "btn btn-large btn-primary" %>
    <% end %>
         <%= link_to image_tag('back.png'),candidates_path  %>
  </div>
</div>