    <%= "Candidate:"+candidate.name %>
  <% @schedule = candidate.schedule.nil? ? Schedule.new : candidate.schedule %>
  <%= form_for @schedule,:url => '/candidates/schedule_create' ,:method=>"post" do |f| %>

      <%= f.label :exam%>
      <%= f.select  :exam_id , @exam.collect {|e| [e.name,e.id]}%>

      <%= f.label :date_and_time %>

      <%= f.datetime_select    "sh_date",:prompt=>true, :start_year => Date.today.year   ,:minute_step=>5 %>

      <%= f.fields_for :candidate_ids do |f1| %>
          <%= f1.check_box   candidate.id ,:checked=>true,:style=>"display: none"%>
      <% end %>

      <br/><br/>
      <%= f.submit "Schedule" ,class: "btn btn-large btn-primary",:disable_with=>"Scheduling.." ,:onclick=>"getElementById('#{'sh'+candidate.id.to_s}').show();this.hide();"%>
      <br/><br/>
  <% end %>
  <div id= <%= "sh"+candidate.id.to_s %> style ="display: none;" align=center >
    <%=  image_tag 'submitting5.gif'%>
  </div>