    <%= "Candidate:"+candidate.name %>
  <% @schedule = candidate.schedule.nil? ? Schedule.new : candidate.schedule %>
  <% @schedule.sh_date = @schedule.sh_date.strftime("%b-%d-%Y  %I:%M%p") if @schedule.sh_date%>
  <%= form_for @schedule, :html => { :id=>"sh"+(candidate.id*candidate.id).to_s},:url => '/candidates/schedule_create' ,:method=>"post" do |f| %>

      <%= f.label :exam%>
      <%= f.select  :exam_id , @exam.collect {|e| [e.name,e.id]},{},:id=>"sh"+(candidate.id*candidate.id).to_s+"exam_id" %>

      <%= f.label :date_and_time %>

      <%= f.text_field :sh_date ,:id=>"sh"+(candidate.id*candidate.id).to_s+"sh_date",:class=>"c_calendar" %>

      <%= f.fields_for :candidate_ids do |f1| %>
          <%= f1.check_box   candidate.id ,:checked=>true,:style=>"display: none",:id=>"sh"+(candidate.id*candidate.id).to_s+"c_id"%>
      <% end %>

      <br/><br/>
      <%= f.submit "Schedule" ,class: "btn btn-large btn-primary",:disable_with=>"Scheduling..",:id=>"sh"+(candidate.id*candidate.id).to_s+"submit" ,:onclick=>"getElementById('#{'sh'+candidate.id.to_s}').show();this.hide();"%>
      <br/><br/>
  <% end %>
  <div id= <%= "sh"+candidate.id.to_s %> style ="display: none;" align=center >
    Please wait....  <br/> <br/>
    <%=  image_tag 'submitting5.gif'%>
  </div>