
    <h1>Editing candidate</h1>



<%= nested_form_for  @candidate  do |f| %>


   <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

        <table width="75%" >
          <tr>
            <%= f.fields_for :user do |op| %>
                <td class="rght" >
                  Email:<%= image_tag 'mandatory.png' %>
                  <%= op.text_field :user_email   %>
                </td>

                <%= op.password_field :login_password ,:value=>"12345",:style=>"display: none"%>


                <%= op.password_field :login_password_confirmation,:value=>"12345" ,:style=>"display: none"%>


            <% end %>
            <td class="rght" >
              Name:<%= image_tag 'mandatory.png' %>
              <%= f.text_field   :name  %>
            </td>
          </tr>

          <tr>
            <td class="rght" >
              Address:
              <%= f.text_area  :address , :rows=>5%>
            </td>
            <td class="rght" >
              Phone no 1:
              <%= f.text_field :phone1 %> <br/>
              Phone no 2:
              <%= f.text_field :phone2 %> <br/>
              Technology:
              <%= f.text_field :technology %>
            </td>

          </tr>

          <tr>
            <td class="rght" >
              Certification:
              <%= f.text_field :certification %>
            </td>
            <td class="rght" >
              Skills:
              <%= f.text_field :skills %>
            </td>
          </tr>
        </table>

         <% if !@candidate.resume.to_s.include?("missing.png") %>
         <b>resume:</b>
         <%=  @candidate.resume_file_name  %>
         <%=link_to  image_tag('download.png'),@candidate.resume.url(:original,false), :class=>"dropt", :title=>"download resume" %>
         <% else %>
            <%= f.label :resume  %>
            <%= f.file_field :resume %>
         <% end %>

        <br />
        <h3>Experiences:</h3>
          <% i=0%>
        <%= f.fields_for :experiences  do |op| %>

            <%= op.calendar_date_select "from_date", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force ,:class=>"text_box3",:placeholder => "From date*"%>
            <%= op.calendar_date_select "to_date", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force ,:class=>"text_box3",:placeholder => "To date*"%>
            <%= op.text_field :experience_in ,:class=>"text_box3",:placeholder => "Experience in*"%>
            <%= op.text_field :experience_from,:class=>"text_box3",:placeholder => "Experience from" %>
            <%if !@candidate.experiences[i].nil?&& @candidate.experiences[i].id.present? %>
                    <%= link_to image_tag('delete.png',:title =>"Remove" ), candidate_experience_path(@candidate,@candidate.experiences[i]) , method: :delete, data: { confirm: 'Are you sure?' }   %>
            <% else %>
                    <%= op.link_to_remove image_tag('delete.png',:title =>"Remove" )  %>
            <% end %>

                <% i+=1 %>

          <% end %>

        <p><%= f.link_to_add image_tag('addc.png',:title =>"Add new experience"  ), :experiences %></p>

        <br /><h3>Qualifications</h3>
            <% i=0 %>
           <%= f.fields_for :qualifications  do |op| %>

                <%= op.text_field :qualification_in,:class=>"text_box3" ,:placeholder => "Qualification_in*"%>
                <%= op.text_field :qualification_from,:class=>"text_box3",:placeholder => "Qualification_from" %>
                <%= op.calendar_date_select "from_date",:placeholder => "From_date*", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force,:class=>"text_box3" %>
                <%= op.calendar_date_select "to_date",:placeholder => "To_date*", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force ,:class=>"text_box3"%>
                <%= op.text_field :mark_percentage,:placeholder => "Mark_percentage",:class=>"text_box3" %>
                <%= op.text_field :comments,:placeholder => "Comments" ,:class=>"text_box3"%>
                <%if !@candidate.qualifications[i].nil?&& @candidate.qualifications[i].id.present? %>
                     <%= link_to image_tag('delete.png',:title =>"Remove" ), candidate_qualification_path(@candidate,@candidate.qualifications[i]) , method: :delete, data: { confirm: 'Are you sure?' }   %>
                <% else %>
                     <%= op.link_to_remove image_tag('delete.png',:title =>"Remove" )  %>
                <% end %>

                <% i+=1 %>

          <% end %>

                <p><%= f.link_to_add image_tag('addc.png',:title =>"Add new qualification "  ), :qualifications %></p>



        <br /> <br />
        <% if !@candidate.recruitment_test.nil?&&!@candidate.recruitment_test.id.present?   %>
        <%= f.check_box  "done",:onclick=>"document.getElementById('result').toggle()" %>Exam Completed?
          <% end %>
        <br /> <br />

        <div id="result"  >
          <%= f.fields_for :recruitment_test     do |f1| %>

              <table border="3">
                <tr>
                  <th>completed?</th>
                  <th>completed on</th>
                  <th>right answers</th>
                  <th>no of question attended</th>
                  <th>mark percentage</th>
                  <th>status</th>
                  <th>comments</th>
                </tr>
                <tr>
                  <td><%= f1.select :is_completed,[["Yes",1],["No",0]],  { :include_blank => true,:selected =>:is_completed} %></td>
                  <td><%= f1.calendar_date_select  :completed_on,:month_year => "label" , :valid_date_check => "date <= (new Date()).stripTime()"  ,:time=>true, :popup => :force,:class=>"text_box3" %></td>
                  <td><%= f1.text_field :right_answers,:class=>"text_box3" %></td>
                  <td><%= f1.text_field :no_of_question_attended,:class=>"text_box3" %></td>
                  <td><%= f1.text_field :mark_percentage,:class=>"text_box3" %></td>
                  <td><%= f1.select  :is_passed , ["Pending","Passed","Failed"], { :include_blank => true}%></td>
                  <td><%= f1.text_field :comments,:class=>"text_box3" %></td>
                </tr>

              </table>

              <br />
              <%#= f1.submit "Submit" ,class: "btn btn-large btn-primary",:name=>"by",:value=>"Submit_result" %><br />
          <% end %>
        </div>

        <%= f.submit "Update" ,class: "btn btn-large btn-primary" %>
    <% end %>

         <%= link_to image_tag('back.png'),candidates_path  %>


 <script type="text/javascript">
    window.onload = function()
    {
        document.getElementById('result').style.display='none';
    }
 </script>