    <div class="row">
      <h3 align="right" ><%= link_to image_tag('adduser.png'), new_candidate_path  %></h3>

      <div class="span12 offset0"><h1>Candidates</h1>

<table border="3" width="100%"  >
  <tr>
    <th>name</th>
    <th>email id</th>
    <th>phone</th>
    <th>skills</th>
    <th>Exam Assigned?</th>
    <th>Exam Completed?</th>
   </tr>

<% @candidates.each do |candidate| %>
  <tr>
    <td width="15%" ><%= candidate.name %></td>
    <td width="20%" ><%= candidate.user.user_email  %></td>
    <td width="10%" ><%= candidate.phone1 %></td>
    <td width="20%" ><%= candidate.skills%></td>
    <td width="10%" ><%= candidate.schedule.nil? ? 'No' :'Yes'  %></td>
    <td width="10%" ><%= candidate.recruitment_test.nil?  ? 'No' :'Yes'  %></td>
    <td width="5%" ><%= link_to image_tag('show.png'), candidate_path(candidate) %></td>
    <td width="5%" ><%= link_to image_tag('edit.png'), edit_candidate_path(candidate) %></td>
    <td width="5%" ><%= link_to  image_tag('delete.png'), candidate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<h4><%= will_paginate @candidates ,:container=>false %></h4>

     </div>
    </div>


















