<div align="right" id="add_new" ><%= link_to image_tag('adduser.png'), new_candidate_path, :class=>"dropt", :title=>"add new candidate"   %></div>
<h1>Candidates</h1>
<form class="filter_form">
  <table  cellpadding="1" width="100%"  class="filter_table"   >
    <tr>
      <th>Name:</th>
      <th>Email:</th>
      <th>Phone:</th>
      <th>Skills:</th>
      <th>Status:</th>
    </tr>
    <tr>
      <td align="right" ><%= text_field_tag "search[name]" , params[:search]? params[:search]["name"]:"", :class => "text_box1" %></td>
      <td align="right" ><%= text_field_tag "search[email]" ,params[:search]? params[:search]["email"]:"", :class => "text_box1" %></td>
      <td align="right" ><%= text_field_tag "search[phone]" ,params[:search]? params[:search]["phone"]:"", :class => "text_box1"  %></td>
      <td align="right" ><%= text_field_tag "search[skill]" ,params[:search]? params[:search]["skill"]:"", :class => "text_box1" %></td>
      <td align="right" ><%= select("search[status]" ,"type", ["Exam Scheduled","Exam not Scheduled","Exam Completed"], { :include_blank => true,:selected =>params[:search]?params[:search]["status"][:type]:""},onchange: "this.form.submit();") %></td>
      <td title="search" ><%=image_submit_tag 'filter.png' , :class => 'search' %></td>
    </tr>
  </table>
</form>
<% if @candidates.empty? %>
    <h2>No results..</h2>
<% else %>
     <div>
         <div style="text-align: left;float: left; width: 50%;">
          Per Page:
          <%= link_to "30", candidates_path(per_page: 30), class: "btn btn-xs" %>
          <%= link_to "40", candidates_path(per_page: 40), class: "btn btn-xs" %>
          <%= link_to "50", candidates_path(per_page: 50), class: "btn btn-xs" %>
        </div>
        <div style="text-align: right; float: right; width: 50%;">
          <%= link_to "PRINT", '#', onclick: "javascript:print()", id: "print_link", class: "btn btn-xs" %>
        </div>
    </div>
    <br>
    <br>
    <br>
  <% @candidates.each do |candidate| %>
    <div align="center">
      <table  cellpadding="2" cellspacing="3" width="100%" class="index_table" style="border-bottom: 5px solid rgba(132, 242, 246, 1);">
        <tbody>
          <tr>
            <td rowspan="2" width="15%">
              <%  if candidate.schedule and candidate.schedule.remote and candidate.recruitment_test.nil? %>
                  <%= link_to   candidate.user.isAlive? ? (image_tag 'candidate_active.png', size: "75x75",  :title=>"Active candidate, Click to Toggle the activation") :( image_tag 'candidate_inactive.png', size: "75x75", :title=>"Inactive candidate, Click to Toggle the activation"),delete_user_path(candidate.user,from: "candidate"),method: :put%>
              <% else %>
                <%= image_tag("candidate.png", size: "75x75") %><br>
              <% end %>
              <%= label_tag candidate.name, candidate.name, style: "background-color: green; color: white;" %>
            </td>
            <td class="lft" width="30%">
              <b>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b><%= candidate.user.user_email %><br>
              <b>Phone&nbsp;&nbsp;&nbsp;:</b><%= candidate.phone1 %><br>
              <b>Skills&nbsp;&nbsp;&nbsp;&nbsp;:</b><%= candidate.skills %><br>
              <b>Address:</b><%= candidate.address %>

            </td>
            <td width="55%" class="lft">
            <div class="rght" style="float: right;" width="80%">
              <%= link_to image_tag('edit.png'), edit_candidate_path(candidate) %>
              <%= link_to  image_tag('delete.png'), candidate, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>

            <div style="float: left;" width="20%">
                 <b>Exam: </b>
                <% if candidate.schedule.nil?  %>
                    <%= link_to  'Schedule Now', '#',:remote=>true ,:onclick=>"schedule_now(#{candidate.id});" %>
                <% elsif candidate.recruitment_test.nil? %>
                    <% if candidate.schedule.candidates.count<2 %>
                        <%=link_to candidate.schedule.sh_date.strftime("%b %d %A,%Y at %I:%M%p"), '#',:remote=>true,:onclick=>"schedule_now(#{candidate.id});", title: "Reschedule" %>
                    <% else %>
                        <%=link_to candidate.schedule.sh_date.strftime("%b %d %A,%Y at %I:%M%p"), edit_schedule_path(candidate.schedule.id), title: "Reschedule" %>
                    <% end %>
                <% elsif candidate.recruitment_test %>
                    <%=candidate.schedule.sh_date.strftime("%b %d %A,%Y at %I:%M%p")%>
                <% end %>
            </div>
            <br>
            <b>Status: </b>
            <% if candidate.recruitment_test %>
                Completed.
            <% elsif candidate.schedule && candidate.schedule.created_at==candidate.schedule.updated_at%>
                  <%="Scheduled"%>
                  <%= link_to image_tag('resent.png'), resent_schedule_email_candidate_path(candidate,status: "schedule"), title: "Resent schedule email" %>
            <% elsif candidate.schedule%>
                  <%="Re Scheduled"%>
                  <%= link_to image_tag('resent.png'), resent_schedule_email_candidate_path(candidate,status: "re-schedule"), title: "Resent re-schedule email" %>
            <% else %>
                <%= "Cancelled/Not scheduled" %></td>
            <% end %>

            <% if candidate.recruitment_test %>
                <br>
                <b>Mark:</b>
                <%= "#{number_with_precision(candidate.recruitment_test.mark_percentage, :precision => 2)}%" %>
                <%= link_to "See Result..", candidate.recruitment_test %>        
            <% elsif candidate.schedule %>
                <br>
                <b>Exam link:</b>
                <%= clogin_answer_url(candidate.user.salt) %>
            <% end %>  
            </td>
          </tr>
          <tr>
            <td>
              <b>Craeted On:</b><%= candidate.created_at.strftime("%b %d %A,%Y at %I:%M%p") %>
            </td>
            <td>
              <b>Last update:</b><%= candidate.updated_at.strftime("%b %d %A,%Y at %I:%M%p") %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div  style="display: none;" id="<%= candidate.id %>" >
      <%= render 'schedule', :candidate => candidate  %>
    </div>
  <% end %>
<%= pagination_links(@candidates) %>
<% end %>