<div class="row">
  <div class="span10 offset0">

    <%= form_for ([ @candidate , @experience ]) do |f| %>


           <% if @experience.errors.any? %>
            <div id="error_explanation">
             <h2><%= pluralize(@experience.errors.count, "error") %> prohibited this candidate from being saved:</h2>

             <ul>
             <% @experience.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
             </ul>
              </div>
          <% end %>




        <%= f.label :from_date %>
        <%= f.calendar_date_select "from_date", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force %>


        <%= f.label :to_date %>
        <%= f.calendar_date_select "to_date", :valid_date_check => "date < (new Date()).stripTime()"  , :popup => :force %>


        <%= f.label :experience_in %>
        <%= f.text_field :experience_in %>

        <%= f.label :experience_from %>
        <%= f.text_field :experience_from %><br />

        <%= f.submit "Add" ,class: "btn btn-large btn-primary" %>

    <% end %>
       <%= link_to image_tag('back.png'),edit_candidate_path(@candidate)  %>
  </div>
</div>