<div class="row">
 <div class="span12 offset0">
        <h1 align="center" > Suyati Online Recruitment Test</h1>


   <table width="100%"   cellpadding="5px" border="0" class="home_border"   >

   <tr>
     <td width="50%" height="300px"  >


       <%= select("search","schedule", ["For today","For this week","For this month"],{},:onchange=>"sh_click()",:class=>"select_home") %>



       <div id="sh1">
         <table border="3" width="100%" height="480"  class="curvedEdges" >
           <tr>
             <th>
               <h2>Scheduled Exams</h2>


             </th>
           </tr>
           <% @schedules1.each {|r|  %>
               <tr>
                 <td class="lft_home"  height="0" >
                   <%=link_to  r.sh_date.strftime("%b %d %A,%Y at %I:%M%p"),schedule_path(r)    %>
                 </td>
               </tr>
           <% } %>
           <tr>
             <td height="90%" > </td>
           </tr>
         </table>
       </div>

       <div id="sh7">
         <table border="3" width="100%" height="480"  class="curvedEdges" >
           <tr>
             <th>
               <h2> Scheduled Exams</h2>


             </th>
           </tr>
           <% @schedules7.each {|r|  %>
               <tr>
                 <td class="lft_home"  height="0" >
                   <%=link_to  r.sh_date.strftime("%b %d %A,%Y at %I:%M%p"),schedule_path(r)    %>
                 </td>
               </tr>
           <% } %>
           <tr>
             <td height="90%" > </td>
           </tr>
         </table>
       </div>

       <div id="sh30">
         <table border="3" width="100%" height="480"  class="curvedEdges" >
           <tr>
             <th>
               <h2> Scheduled Exams </h2>


             </th>
           </tr>
           <% @schedules30.each {|r|  %>
               <tr>
                 <td class="lft_home"  height="0" >
                   <%=link_to  r.sh_date.strftime("%b %d %A,%Y at %I:%M%p"),schedule_path(r)    %>
                 </td>
               </tr>
           <% } %>
           <tr>
             <td height="90%" > </td>
           </tr>
         </table>
       </div>

























     </td><td>

     <%= select("search","result", ["For today","For this week","For this month"],{},:onchange=>"rs_click()",:class=>"select_home") %>

     <div id="rs1">
       <table border="3" width="100%" height="480"  class="curvedEdges" >
         <tr>
           <th>
             <h2> Results</h2>


           </th>
         </tr>
         <% @results1.each {|r|  %>
             <tr>
               <td class="lft_home"  height="0" >
                 <%=link_to  r.candidate.name,recruitment_test_path(r)    %>
               </td>
             </tr>
         <% } %>
         <tr>
           <td height="90%" > </td>
         </tr>
       </table>
     </div>

     <div id="rs7">
       <table border="3" width="100%" height="480"  class="curvedEdges" >
         <tr>
           <th>
             <h2> Results</h2>


           </th>
         </tr>
         <% @results7.each {|r|  %>
             <tr>
               <td class="lft_home"  height="0" >
                 <%=link_to  r.candidate.name,recruitment_test_path(r)    %>
               </td>
             </tr>
         <% } %>
         <tr>
           <td height="90%" > </td>
         </tr>
       </table>
     </div>


     <div id="rs30">
       <table border="3" width="100%" height="480"  class="curvedEdges" >
         <tr>
           <th>
             <h2> Results</h2>


           </th>
         </tr>
         <% @results30.each {|r|  %>
             <tr>
               <td class="lft_home"  height="0" >
                 <%=link_to  r.candidate.name,recruitment_test_path(r)    %>
               </td>
             </tr>
         <% } %>
         <tr>
           <td height="90%" > </td>
         </tr>
       </table>
     </div>
































   </td></tr>
   <tr>
     <td>

   <table border="3" width="100%" height="480"  class="curvedEdges" >
     <tr>
       <th>
         <h2>Recent Questions</h2>
        </th>
     </tr>
     <% @questions.each {|q|  %>
         <tr>
           <td class="lft_home"  height="0" >
             <%=link_to  q.question.slice(0..50),'#',:onclick=>"window.open('/questions/#{q.id}','Question Details','location=1,status=0,scrollbars=1,width=500,height=400',true)"    %>
             <%= "......" if q.question.length>50 %>
           </td>
         </tr>
     <% } %>
   </table>

     </td>
     <td>

   <table border="3" width="100%" height="480" class="curvedEdges" align="" >
     <tr>
       <th>
        <h2> Recent passed candidates</h2>
        </th>
     </tr>
     <% @candidates.each {|c|  %>
         <tr>
           <td class="lft_home"  >
             <%=link_to  c.candidate.name,candidate_path(c.candidate)    %>
           </td>
         </tr>

     <% } %>
     <tr>
       <td height="90%" > </td>
     </tr>
   </table>

   </td>
   </tr>

   </table>


 </div>
</div>




 <script type="text/javascript">
   function sh_click(){


       if(document.getElementById("search_schedule").options[document.getElementById("search_schedule").selectedIndex].text=="For today")
      {

        document.getElementById('sh1').style.display="";
        document.getElementById('sh7').style.display='none';
        document.getElementById('sh30').style.display='none';
      }
       else if(document.getElementById("search_schedule").options[document.getElementById("search_schedule").selectedIndex].text=="For this week")
      {
        document.getElementById('sh7').style.display="";
        document.getElementById('sh1').style.display='none';
        document.getElementById('sh30').style.display='none';
      }
       else if(document.getElementById("search_schedule").options[document.getElementById("search_schedule").selectedIndex].text=="For this month")
      {
        document.getElementById('sh30').style.display="";
        document.getElementById('sh7').style.display='none';
        document.getElementById('sh1').style.display='none';
      }
   }
 </script>

 <script type="text/javascript">
   function rs_click(){

       if(document.getElementById("search_result").options[document.getElementById("search_result").selectedIndex].text=="For today")
      {
        document.getElementById('rs1').style.display="";
        document.getElementById('rs7').style.display='none';
        document.getElementById('rs30').style.display='none';
      }
       else if(document.getElementById("search_result").options[document.getElementById("search_result").selectedIndex].text=="For this week")
      {
        document.getElementById('rs7').style.display="";
        document.getElementById('rs1').style.display='none';
        document.getElementById('rs30').style.display='none';
      }
       else if(document.getElementById("search_result").options[document.getElementById("search_result").selectedIndex].text=="For this month")
      {
        document.getElementById('rs30').style.display="";
        document.getElementById('rs7').style.display='none';
        document.getElementById('rs1').style.display='none';
      }

   }
 </script>




 <script type="text/javascript">
    window.onload = function()
    {
        document.getElementById('rs7').style.display='none';
        document.getElementById('rs30').style.display='none';
        document.getElementById('sh7').style.display='none';
        document.getElementById('sh30').style.display='none';
    }
 </script>






    <script>
  $(document).ready(function() {
    $("#dialog").dialog();
  });
  </script>







