
        <h1 align="center" > Suyati Online Recruitment Test</h1>
          <br/> <br/>

          <!--<table width ="100%" class="curvedEdges" >-->
           <!--<tr>-->
            <!--<th>Users:</th>-->
            <!--<th>Candidates:</th>-->
            <!--<th>Questions:</th>-->
            <!--<th>Exams:</th><br/>-->
            <!--<th>Scheduled Exams:</th>-->
            <!--<th>New Results:</th>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<th><%= @user   %></th>-->
            <!--<th><%= @candidate   %></th>-->
            <!--<th><%= @question   %></th>-->
            <!--<th><%= @exam  %> </th>-->
            <!--<th><%= @schedule   %></th>-->
            <!--<th><%= @result %></th>-->
           <!--</tr>-->
          <!--</table>-->

        <!--<%#=  image_tag("suyatiin1.png", :width=>"100%" ) %>-->

         <!--<div id="topic-grid"></div>-->



        <h3>About Us</h3>

        At Suyati, our main aim is to help you redefine your return on investment in Information Technology. Whether you engage with us via fixed price or time and material models, or try out our Dedicated Global Teams specifically created for you as an extension of your in-house team, you can create develop, innovate, support and maintain your software development at a much lower cost. This frees up capital for you to invest in marketing and growing your top line. Thus we help you extend yourself profitably!
        <br/><br/>
        <h3>Our History </h3>

        Suyati was founded in March 2009 in Kochi, India, by a team of entrepreneurs headed by Mukund Krishna. Suyati has over 5 decades of cumulative management experience in creating and delivering technology solutions to its clients.

        In 2005, Mukund Krishna founded and managed Ind-Sigma, a subsidiary of the US based Sigma-Micro (now Fifth Gear) a catalog, mail order and e- commerce company with a rich 25 year old history. Fifth Gear’s global clients include several diverse and high profile companies such as the Eastbay Group (Footlocker, Lady Footlocker, Champs, NFL.com), Sears, L’Oreal and Magellan’s. Mukund and his core team also created and built two state of the art facilities for Ind-Sigma in Kochi and Chandigarh and staffed it with a talented team of over 80, skilled in various technologies and verticals.

        The global economic downturn of 2009, while very challenging, gave Mukund an opportunity to create a new venture during one of the toughest economic times. The founding team seized this opportunity and created Suyati. Suyati purchased Ind-Sigma’s high-end infrastructure, equipment and facilities when Ind-Sigma decided to downsize its operations in Kochi, and founded a full fledged operating enterprise. The Suyati team, apart from acquiring many new clients, continues to provide a wide range of software development, technical, HR and administrative services to FifthGear in the United States and its subsidiary in India.

        Suyati’s primary vision is to help small and medium companies leverage excellent technical and managerial talent from India to build software in a cost effective way. Based on Mukund and his team’s experience in building specialty teams in India, Suyati is able to provide competitive and unique software related services with flexible models of engagement.
        <h2>
        <% if my_roles.include?("Candidate") %>
            <% @diff=(current_user.candidate.schedule.sh_date.to_i-Time.now.to_i)/60 %>
           <% if @diff > 1 %>
               <%= "Your exam will start by "+ current_user.candidate.schedule.sh_date.strftime("%b-%d-%Y  %I:%M%p")%>
                  <%=link_to 'sign out', '/signout',method: :delete   %>
        <% else %>
                You can start exam by clicking <%= link_to "here",'/answers/candidate_detail' %>
           <% end %>
        <% end %>
        </h2>





















