
        <h1 align="center" > Suyati Online Recruitment Test</h1>
          <br/> <br/>

          <table width ="100%" class="curvedEdges" >
           <tr>
            <th>Users:</th>
            <th>Candidates:</th>
            <th>Questions:</th>
            <th>Exams:</th><br/>
            <th>Scheduled Exams:</th>
            <th>New Results:</th>
          </tr>
          <tr>
            <th><%= @user   %></th>
            <th><%= @candidate   %></th>
            <th><%= @question   %></th>
            <th><%= @exam  %> </th>
            <th><%= @schedule   %></th>
            <th><%= @result %></th>
           </tr>
          </table>

        <%#=  image_tag("suyatiin1.png", :width=>"100%" ) %>

         <div id="topic-grid"></div>























