


    <div class="row">
      <div class="span6 offset3">
     <h1>Login:</h1>

        <%= label_tag  :userEmail %>
        <%= text_field_tag  :mail %>

        <%= label_tag  :password %>
        <%= password_field_tag  :pass %> <br />

        <%= button_to "Login", '/homes/validate', :method => "get" %>


      </div>
    </div>
