<div class="row">
  <div class="span12 offset0">
        <h1>Question Categories</h1>
    <table border="3" width="30%"  >

     <tr>
       <th>Category name</th>
       <th></th>   <th></th>
     </tr>

    <% @categories .each do |ctgry| %>
          <tr>
        <td><%= ctgry.category  %></td>
        <td width="10%" ><%= link_to image_tag('edit.png'), edit_category_path(ctgry) %></td>
         <% if ctgry.questions.empty?  %>
            <td width="10%" ><%= link_to  image_tag('delete.png',:title=>"delete"), ctgry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
         <% else %>
            <td width="10%" ><%= image_tag 'delete.png',:title=>"If you want to delete this category first you should delete all questions belongs to this category." %></td>
         <% end %>
          </tr>




        <% end %>
    </table>
<h4><%= will_paginate @categories ,:container=>false %></h4>
    <br/> <br/>
       <%= render 'form' %>
    <br /><%= link_to image_tag('back.png'),questions_path %>
  </div>
</div>
