<div class="row">
  <div class="span10 offset0">
        <h1>Question Categories</h1>
    <table border="2" >
    <% @categories .each do |ctgry| %>
          <tr>
        <td><%= ctgry.category  %></td>
        <td><%= link_to image_tag('edit.png'), edit_category_path(ctgry) %></td>
         <%#= link_to  image_tag('delete.png'), ctgry, method: :delete, data: { confirm: 'Are you sure?' } %>
          </tr>



        <br />
        <% end %>
    </table>
<h4><%= will_paginate @categories ,:container=>false %></h4>
    <br /> <br />
       <%= render 'form' %>
    <br /><%= link_to image_tag('back.png'),new_question_path %>
  </div>
</div>
