 <div class="row">
  <div class="span12 offset0">
        <h1>Edit Exam</h1>

    <div id="new_instruction1" class="right" >
    <%= form_for @instruction   do |f1| %>
        <b>New Instruction</b><br />
        <%= f1.text_field :instruction%>

        <%= f1.submit "Add" ,class: "btn btn-large btn-primary",:name=>"by",:value=>"add" %><br />
    <% end %>
     </div>
   <div class="left">
    <%= form_for @exam  do |f| %>


           <% if @exam.errors.any? %>
            <div id="error_explanation">
             <h2><%= pluralize(@exam.errors.count, "error") %> prohibited this exam from being saved:</h2>

             <ul>
             <% @exam.errors.full_messages.each do |msg| %>
               <li><%= msg %></li>
             <% end %>
             </ul>
              </div>
          <% end %>




        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label  :description%>
        <%= f.text_field :description %>

        <br />Instructions
        <% Instruction.all.each do |instruction| %>
            <br />
            <%= check_box_tag "exam[instruction_ids][]", instruction.id, @exam.instructions.include?(instruction)   %>
            <%= instruction.instruction %>
        <% end %>

        <br />
                <%#= link_to 'new_instruction?' , '#',:onclick=>"show_instruction()"  %>   <br />   <br />

        <%= f.label :Complexity %>    <br />
        <%= f.select("complexity_id", Complexity.all.collect {|s|
         [s.complexity, s.id ] }, { :include_blank => false, :selected =>
        @exam.complexity_id}) %>



      <table border="3" >
      <tr>
        <th>category</th>
        <th>no_of_question</th>
        <th>available</th>
      </tr>

      <% Category.all.each do |category| %>
          <tr>
            <td><%= category.category %></td>


            <%= f.fields_for :subj do |category_fields| %>
            <td><%= category_fields.number_field  (category.category ) , :value=>@exam.questions.where("category_id=?",category.id).count ,   :class => "text_box" %></td>
            <% end %>

            <td><%= category.questions.count %></td>

          </tr>
      <% end %>
      </table>



        <br />
        <%= f.submit "Update" ,class: "btn btn-large btn-primary" %>

    <% end %>
     <br /><%= link_to image_tag('back.png') ,exams_path %>

   </div>
  </div>
</div>



  <script type="text/javascript">
   function show_instruction()
   {

       document.getElementById('new_instruction1').toggle();
   }
 </script>
 <script type="text/javascript">
    window.onload = function()
    {
        document.getElementById('new_instruction1').style.display='none';
    }
 </script>









