<div class="row">
  <h3 align="right"><%= link_to image_tag('add.png'), new_exam_path, :class=>"dropt", :title=>"add new exam"  %></h3>
  <div class="span12 offset0"><h1>Exams</h1>

    <table border="3" class="fixed"  >
      <tr>
        <th>name</th>
        <th>no_of_question</th>
        <th>description</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
            <% image_tag 'edit.jpg' %>
      <% @exams.each do |exam| %>
          <tr>
            <td width="20%" class="lft"  ><%= exam.name %></td>
            <td width="15%" ><%= exam.no_of_question  %></td>
            <td width="50%" class="lft"   ><%= exam.description  %></td>
            <td width="5%" class="dropt" title="detail"  ><%= link_to image_tag('show.png'), exam_path(exam) %></td>
            <td width="5%" class="dropt" title="edit"  ><%= link_to image_tag('edit.png'), edit_exam_path(exam) %></td>
            <td width="5%" class="dropt" title="delete"  ><%= link_to  image_tag('delete.png'), exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
      <% end %>
    </table>

    <h4><%= will_paginate @exams ,:container=>false %></h4><br />


    <%= link_to (image_tag 'instructions.png'), instructions_path, :class=>"dropt", :title=>"manage instructions"  %>
  </div>
</div>
