<div class="row">
  <div class="span10 offset0"><h1>Exams</h1>
    <h3><%= link_to image_tag('add.png'), new_exam_path %></h3>
    <table border="3" >
      <tr>
        <th>name</th>
        <th>no_of_question</th>
        <th>description</th>
      </tr>
            <% image_tag 'edit.jpg' %>
      <% @exams.each do |exam| %>
          <tr>
            <td><%= exam.name %></td>
            <td><%= exam.no_of_question  %></td>
            <td><%= exam.description  %></td>
            <td><%= link_to image_tag('show.png'), exam_path(exam) %></td>
            <td><%= link_to image_tag('edit.png'), edit_exam_path(exam) %></td>
            <td><%= link_to  image_tag('delete.png'), exam, method: :delete, data: { confirm: 'Are you sure?' } %></td>


          </tr>
      <% end %>
    </table>

    <h4><%= will_paginate @exams ,:container=>false %></h4><br />


    <%= link_to 'Manage Instructions' , instructions_path  %>
  </div>
</div>
