
    <script type="text/javascript">
        jQuery.noConflict(true);
        function open_instruction(no){
            jQuery("#"+no+"").dialog({modal: true,width: 800});
       }
    </script>
  <h3 align="right"></h3>


      <table width="100%" >
      <tr>
        <td class="lft" >
          <%= link_to (image_tag 'instructions.png'), instructions_path, :class=>"dropt", :title=>"manage instructions"  %>
        </td>
        <td>

         </td>
        <td class="rght" >
          <%= link_to image_tag('add.png'), new_exam_path, :class=>"dropt", :title=>"add new exam"  %>
         </td>

      </tr>
    </table>

    <h1>Exams</h1>
       <form class="filter_form">

            <table  cellpadding="5" class="filter_table"  width="100%" >
              <tr>
                <td width="60%" ></td>
                <th>Created by:</th>
                <th width="20%" >From:</th>
                <th width="20%">To:</th>
                <th>Name:</th>
                </tr>
                <tr>
                  <td width="60%" ></td>
                <% if params[:search].nil?  %>

                    <td><%= select("search","by", @users.collect {|s|
                    s.user_email }, { :include_blank => true}) %></td>
                   <td><%= calendar_date_select_tag  "search[from]","", :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>
                   <td><%= calendar_date_select_tag  "search[to]","", :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>
                    <td align="right" ><%= text_field_tag "search[name]" , params[:search] %></td>

                <% else  %>
                    <td><%= select("search","by", @users.collect {|s|
                    s.user_email }, { :include_blank => true,:selected =>params[:search][:by]}) %><br />
                  </td>

                    <td><%= calendar_date_select_tag "search[from]",params[:search]["from"], :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>
                    <td><%= calendar_date_select_tag  "search[to]",params[:search]["to"], :valid_date_check => "date <= (new Date()).stripTime()" , :month_year => "label" , :popup => :force,:class=>"text_box2" %></td>
                    <td align="right" ><%= text_field_tag "search[name]",params[:search][:name]  %></td>
                <% end  %>

                <td class="dropt" title="search" ><%=image_submit_tag 'filter.png' , :class => 'search' %></td>


                </tr>
           </table>

            </form>







    <table border="3"   class="index_table"  width="100%">
      <tr>
        <th>name</th>
        <th>no_of_question</th>
        <th>description</th>
        <th>Preview Instructions</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
            <% image_tag 'edit.jpg' %>
      <% @exams.each do |exam| %>
          <tr>
            <td width="20%" class="lft"  ><%= exam.name %></td>
            <td width="15%" ><%= exam.no_of_question  %></td>
            <td width="35%" class="lft"   ><%= exam.description  %></td>
            <td width="15%"><%= link_to 'Show','#',:onclick=>"open_instruction(#{exam.id});" ,:remote=>true%>

              <div style="display: none;"  id= <%=exam.id%>  >
                <%@exam = exam  %>
                <%@ngtv=Setting.find_by_name('negative_mark').status.eql?("on")  %>
                <%@instructions=@exam .instructions .all  %>

              <h6>Instructions</h6><br/><br/>
              <b>
                <% @instructions.each do |ins|%>
                    <%= image_tag 'point.png' %>
                    <%= ins.instruction  %><br/>
                <% end %>
                <%= image_tag 'point.png' %>This Exam contains
                <% Category.all.each do |cat| %>

                    <% if @exam.questions.where("category_id=? ",cat.id ).count!=0 %>
                        <%= @exam.questions.where("category_id=? ",cat.id ).count %>
                        <%=cat.category    %> questions,
                    <% end %>
                <% end %>
                <br/>


                <%= image_tag 'point.png' %>Answering time for each questions may be different.<br/>
                <%= image_tag 'point.png' %>Total time:<%=  @exam.total_time/1.minute   %>minutes<br/>
                <%= image_tag 'point.png' %>Number of questions:<%= @exam.no_of_question %><br/>
                <%= image_tag 'point.png' %>Pop up new window when you click 'start exam'<br/>
                <% if @ngtv %>
                    <%= image_tag 'point.png' %>Negative mark will be there(1/4).<br/>
                <% else %>
                    <%= image_tag 'point.png' %>No negative mark.<br/>
                <% end %>
              </b>
              <br/>

            </div>

            </td>
            <td width="5%" ><%= link_to image_tag('show.png'), exam_path(exam),title: "detail" %></td>
            <td width="5%" ><%= link_to image_tag('edit.png'), edit_exam_path(exam),title: "edit" %></td>

            <% if exam.schedules.where("sh_date >= ?",Time.now).empty? %>
            <td width="5%"><%= link_to  image_tag('delete.png'), exam, method: :delete, data: { confirm: 'Are you sure?' } ,:title => "delete" %></td>
            <% else %>
            <td width="5%"><%= image_tag('delete.png',:title => "This exam is scheduled.You can't delete" ) %></td>
            <% end %>

          </tr>
      <% end %>
    </table>

    <h4><%= will_paginate @exams ,:container=>false %></h4><br />


