<div class="row">
  <div class="span12 offset0">
                  <h1>Exam Details</h1>

        <b>name:</b><%= @exam.name %> <br />
        <b>no_of_question:</b><%= @exam.no_of_question  %> <br />
        <b>Complexity:</b><%= @exam.complexity.complexity  %> <br />
        <b>description:</b><%= @exam.description  %> <br />
        <b>Total time:</b><%= @exam.total_time/1.minute   %> minutes <br />
        <b>created_by:</b><%= @exam.created_by  %>  <br />
        <b>created_at:</b><%= @exam.created_at.strftime("%b %d %A,%Y at %I:%M%p")  %>  <br />
        <b>modified_by:</b><%= @exam.modified_by %> <br />
        <b>modified_at:</b><%= @exam.updated_at.strftime("%b %d %A,%Y at %I:%M%p")  %> <br />


     <b>Instructions</b> <br />

    <% @instructions.each do |ins| %>
       <%= ins.instruction  %>

        <%= link_to image_tag('delete.png'),remove_instruction_exam_path(@exam,:instruction_id =>ins.id ) %><br />

    <% end %>
    <br />




    <b>Question Pattern</b>

    <table border="3" width="50%"  >
      <tr>
        <th>Category</th>
        <th>Complexity</th>
        <th>no_of_question</th>

      </tr>
      <% Category.all.each do |cat| %>
       <% Complexity.all.each do |com| %>
         <% if @exam.questions.where("category_id=? and complexity_id=?",cat.id,com.id).count!=0 %>
          <tr>
            <td><%=cat.category    %></td>
            <td><%= com.complexity  %></td>
            <td><%= @exam.questions.where("category_id=? and complexity_id=?",cat.id,com.id).count %></td>
          </tr>
         <% end %>
         <% end %>
      <% end %>
    </table>

    <h2>    <%='question paper'.upcase %>
    </h2>
    <table width="100%"  border="10" bordercolor="green "   >
      <tr>
        <th>No:</th>
        <th>question</th>
        <th>allowed_time</th>
        <th>category</th>
        <th>Complexity</th>
      </tr>

      <% count=0 %>
      <% @qpaper.each do |qpaper| %>
          <tr>
            <td><%= count+=1 %></td>
            <td class="lft" ><%= qpaper.question  %></td>
            <td><%= qpaper.allowed_time %></td>
            <td><%= qpaper.category.category   %></td>
            <td><%= qpaper.complexity.complexity    %></td>
          </tr>
      <% end %>
    </table>











    <br /><%= link_to image_tag('back.png') ,exams_path %>

  </div>
</div>
