<!DOCTYPE html>
<html>
<head>


  <title>RecruitmentTest</title>


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "prototype" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= calendar_date_select_includes :style => 'red'  %>
  <%= csrf_meta_tags %>
   <%= stylesheet_link_tag    "header" %>
    <%= render 'layouts/shim' %>
</head>
<body>

    <%= render 'layouts/header' %>
    <div class="container">
	<%= yield %></div>
      <%= render 'layouts/footer' %>
    
</body>
</html>

