<!DOCTYPE html>
<html>
<head>
  <title>Suyati Recruitment Test</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%#= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "application" %>
  <%#= javascript_include_tag "prototype" %>
  <%#= javascript_include_tag "widgEditor" %>
  <%#= javascript_include_tag "bootstrap" %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="3yU3wmd_XNb4IG8Nck_G4vlcf0uaJuTJfTJkboCkmus" />
  <meta name="description" content="Suyati online recruitment application for recruiting fresh candidates." />
  <meta name="keywords" content="online test, suyati test, suyati recruitment, recruitment test, suyati online test, suyati recruitment test" />
  <%= stylesheet_link_tag    "header" %>
  <%= render 'layouts/shim' %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container" style="width: 960px;">
  <% if flash.any? %>
      <div class="flash">
        <% if flash[:notice] %>
            <div class="notice"><%= flash[:notice] %></div>
        <% end %>
        <% if flash[:warning] %>
            <div class="warning"><%= flash[:warning] %></div>
        <% end %>
        <% if flash[:error] %>
            <div class="error"><%= flash[:error] %></div>
        <% end %>
        <% if flash[:alert] %>
            <div class="alert"><%= flash[:alert] %></div>
        <% end %>
      </div>
  <% end %>
  <%= yield %>
  <div id="submitting" style ="display: none;" align=center >
    <%=  image_tag 'submitting5.gif'%>
  </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>

